{% assign uniqueId = 'id_08b19805-77e9-43a1-b1dc-a591ed0e35ff' %}
{% assign builderMode = false %}
{% assign envatoMode = true %}
{% liquid
	assign backgroundFixed = 'scroll'
	
	if section.settings.VEDA_select_2 == 'color'
		assign opacity = section.settings.background_opacity | times: 0.01
		assign modifyBackground = section.settings.background_color | color_modify: 'alpha', opacity
		assign backgroundColor = 'background-color: ' | append: modifyBackground | append: ';'
	else
		assign backgroundColor = ''
	endif
	
	if section.settings.VEDA_select_2 == 'image' and section.settings.VEDA_image_1.src
		assign bgImage = section.settings.VEDA_image_1.src | image_url: width: 2000
		
		assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_1 | append: ';'
	elsif section.settings.VEDA_select_2 == 'image' and section.settings.VEDA_image_1.src == blank
		assign bgImage = 'https://cdn.shopify.com/s/files/1/0552/5510/5616/files/udxhtnzxtq.png?v=1681903122&width=1000'
		
		assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_1 | append: ';'
	else
		assign backgroundImage = ''
	endif
	
	assign sectionPadding = 'padding-top: ' | append: 60 | append: 'px;padding-right: ' | append: null | append: 'px;padding-bottom: ' | append: 60 | append: 'px;padding-left: ' | append: null | append: 'px;'
	
	if section.settings.VEDA_select_3 == 'full_width'
		assign containerType = 'container-fluid'
	else
		assign containerType = 'container'
	endif
	
	assign containerWidth = ''
	
	assign _style = false
	
	assign _placeholder = false
	
	assign _placeholder_class = false
	
	assign _class = false
%}
{% capture Content %}
	<div class="row ai:center fxf:column@+sm">
		<div
			class="col w:100%@+sm! flx:auto!"
			style="width: {{ section.settings["image_width"] }}%;"
		>
			<div class="pos:relative ov:hidden" style="border-radius: {{ imageBorderRadius }}px;">
				{% if section.settings.veda_image.src != blank %}
					<img
						class="veda-lazyload {{ _class }}"
						src="{{ section.settings["veda_image"].src | image_url: width: 10 }}"
						draggable="false"
						{% if section.settings.content___title %}
							alt="{{ section.settings["content___title"] }}"
						{% else %}
							alt="image"
						{% endif %}
						{% if section.settings.veda_image.width %}
							data-intrinsic-width="{{ section.settings["veda_image"].width }}"
							width="{{ section.settings["veda_image"].width }}"
						{% endif %}
						{% if section.settings.veda_image.height %}
							height="{{ section.settings["veda_image"].height }}"
							data-intrinsic-height="{{ section.settings["veda_image"].height }}"
						{% endif %}
						{% if _style %}
							style="{{ _style }}"
						{% endif %}
						loading="lazy"
					>
				{% else %}
					{% liquid
						assign pl = 'lifestyle-1'
						
						if _placeholder
							assign pl = _placeholder
						endif
						
						assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2 ' | append: _class
						
						if _placeholder_class
							assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2 ' | append: _placeholder_class
						endif
					%}
					{{ pl | placeholder_svg_tag: placeholder_class }}
				{% endif %}
				{% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
			</div>
		</div>
		{% liquid assign contentWidth = 100 | minus: section.settings.image_width %}
		<div
			class="col w:100%@+sm! flx:auto"
			style="width: {{ contentWidth }}%;"
		>
			<div
				class="group* pos:relative"
				style="text-align: {{ "left" }}"
			>
				<h3
					class="c:color-gray9 trs:0.3s fw:500 fz:pfs(26px,50px) lh:1.3 mb:0"
					
				>
					{{ section.settings.content___title }}
				</h3>
				<div class="fz:16px mt:20px" >{{ section.settings.content___text }}</div>
				{% liquid
					if section.settings.content___button_variant == 'link'
						assign default_class = 'rs d:inline-block td:none lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s '
					else
						assign default_class = 'rs d:inline-block td:none lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s p:13px_20px bd:none bxsh:none o:none cur:pointer '
					endif
					
					assign default_for_bottom_class = ''
					
					case section.settings.content___button_variant
						when 'primary'
							assign variant_class = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
						when 'secondary'
							assign variant_class = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
						when 'dark'
							assign variant_class = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
						when 'gray'
							assign variant_class = ' bgc:color-gray3 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
						when 'light'
							assign variant_class = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
						else
							assign variant_class = ' c:color-gray9 c:color-primary|h'
					endcase
				%}
				
				<a
					component="{{ '' }}"
					{% if 'bdrs:4px mt:40px' %}
						class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }} {{ 'bdrs:4px mt:40px' }}"
					{% else %}
						class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }}"
					{% endif %}
					{% if section.settings.content___new_tab %}
						target="_blank"
					{% endif %}
					
					href="{{ section.settings["content___button_link"] }}"
				>
          <span>
            {{ section.settings.content___button_text }}
          </span>
					{% if section.settings.content___choose_icon %}
						<span
							class="ml:10px"
							
						>
              {{ section.settings.content___choose_icon }}
            </span>
					{% endif %}
				</a>
				{% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
			</div>
		</div>
	</div>
{% endcapture %}

<section
	data-id="{{ uniqueId }}"
	class="veda-lazyload pos:relative z:1 bgz:cover bgp:center"
	style="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}"
>
	<div class="{{ containerType }}">
		{{ Content }}
	</div>
	{% if section.settings.VEDA_select_2 == 'video' and section.settings.VEDA_video_1 %}
		<div data-veda-video="{{ section.settings["VEDA_video_1"] }}"></div>
	{% endif %}
	{% if section.settings.VEDA_switch_2 %}
		<div
			class="pos:absolute ins:0 z:-1"
			style="background-color: {{ null }};backdrop-filter: blur({{ section.settings["VEDA_slider_3"] }}px)"
		></div>
	{% endif %}
</section>
{% schema %}
{
	"name": "Image With Text 9",
	"blocks": [],
	"settings": [
		{
			"type": "image_picker",
			"id": "veda_image",
			"info": "620 x 420 px recommended ",
			"label": "Banner Image"
		},
		{
			"label": "Image Border Radius",
			"id": "image_border_radius",
			"type": "number"
		},
		{
			"label": "Image Width (%)",
			"id": "image_width",
			"type": "number",
			"default": 50
		},
		{
			"label": "Button Icon",
			"info": "[Get icon](https://fontawesome.com/v5/search)",
			"id": "content___choose_icon",
			"type": "html",
			"default": "<i class=\"far fa-arrow-right\"></i>"
		},
		{
			"label": "Button Variant",
			"id": "content___button_variant",
			"type": "select",
			"default": "primary",
			"options": [
				{
					"label": "Link",
					"value": "link"
				},
				{
					"label": "Primary",
					"value": "primary"
				},
				{
					"label": "Secondary",
					"value": "secondary"
				},
				{
					"label": "Dark",
					"value": "dark"
				},
				{
					"label": "Gray",
					"value": "gray"
				},
				{
					"label": "Light",
					"value": "light"
				}
			]
		},
		{
			"label": "Button Link",
			"id": "content___button_link",
			"type": "text"
		},
		{
			"label": "Open In New Tab",
			"id": "content___new_tab",
			"type": "checkbox",
			"default": false
		},
		{
			"label": "Button Text",
			"id": "content___button_text",
			"type": "liquid",
			"info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
			"default": "Shop now"
		},
		{
			"label": "Title",
			"info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
			"id": "content___title",
			"type": "liquid",
			"default": "Title"
		},
		{
			"label": "Description",
			"info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
			"id": "content___text",
			"type": "liquid",
			"default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>"
		},
		{
			"label": "Section Settings > Enable Separator",
			"id": "VEDA_switch_1",
			"type": "checkbox",
			"default": false
		},
		{
			"label": "Section Settings > Background Type",
			"id": "VEDA_select_2",
			"type": "select",
			"default": "none",
			"options": [
				{
					"label": "Color",
					"value": "color"
				},
				{
					"label": "Video",
					"value": "video"
				},
				{
					"label": "None",
					"value": "none"
				}
			]
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color",
			"default": "#fff"
		},
		{
			"type": "range",
			"id": "background_opacity",
			"min": 0,
			"unit": "%",
			"max": 100,
			"step": 1,
			"label": "Opacity",
			"default": 100
		},
		{
			"label": "Background Video",
			"id": "VEDA_video_1",
			"type": "text"
		},
		{
			"label": "Section Settings > Container Width",
			"id": "VEDA_select_3",
			"type": "select",
			"default": "boxed",
			"options": [
				{
					"label": "Boxed",
					"value": "boxed"
				},
				{
					"label": "Full Width",
					"value": "full_width"
				},
				{
					"label": "Manual",
					"value": "manual"
				}
			]
		}
	],
	"tag": "div",
	"presets": [
		{
			"name": "Image With Text 9",
			"blocks": []
		}
	]
}
{% endschema %}
