{% assign uniqueId = 'id_77c2808a-4c7f-4284-ab5d-9e70ce8c0f9a' %}
{% assign builderMode = false %}
{% assign envatoMode = true %}
{% liquid
  if section.settings.VEDA_switch_3
    assign backgroundFixed = 'fixed'
  else
    assign backgroundFixed = 'scroll'
  endif

  if section.settings.VEDA_select_3 == 'color'
    assign opacity = section.settings.background_opacity | times: 0.01
    assign modifyBackground = section.settings.background_color | color_modify: 'alpha', opacity
    assign backgroundColor = 'background-color: ' | append: modifyBackground | append: ';'
  else
    assign backgroundColor = ''
  endif

  if section.settings.VEDA_select_3 == 'image' and section.settings.VEDA_image_1.src
    assign bgImage = section.settings.VEDA_image_1.src | image_url: width: 2000

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_2 | append: ';'
  elsif section.settings.VEDA_select_3 == 'image' and section.settings.VEDA_image_1.src == blank
    assign bgImage = 'https://cdn.shopify.com/s/files/1/0552/5510/5616/files/udxhtnzxtq.png?v=1681903122&width=1000'

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_2 | append: ';'
  else
    assign backgroundImage = ''
  endif

  assign sectionPadding = 'padding-top: ' | append: 50 | append: 'px;padding-right: ' | append: null | append: 'px;padding-bottom: ' | append: null | append: 'px;padding-left: ' | append: null | append: 'px;'

  if section.settings.VEDA_select_4 == 'full_width'
    assign containerType = 'container-fluid'
  else
    assign containerType = 'container'
  endif
  
  if section.settings.VEDA_slider_4 >= 0
    assign settingGap = section.settings.VEDA_slider_4 | divided_by: 2.0

    assign settingGapVertical = section.settings.VEDA_slider_4
  else
    assign settingGap = ''

    assign settingGapVertical = ''
  endif

  assign colGap = 'margin-top: ' | append: settingGapVertical | append: 'px; padding-left: ' | append: settingGap | append: 'px; padding-right: ' | append: settingGap | append: 'px;'

  assign rowGap = 'margin-top: -' | append: settingGapVertical | append: 'px; margin-left: -' | append: settingGap | append: 'px; margin-right: -' | append: settingGap | append: 'px;'

  assign sectionSeparator = ''

  if colGap and rowGap and builderMode and envatoMode
  endif
%}

{% liquid
  assign _alt = false

  assign _style = false

  assign _placeholder = false

  assign _placeholder_class = false

  assign _component = false
%}
{% capture Subscribe %}
  <div
    
    class="d:flex@sm ai:center jc:space-between bgc:color-primary p:pfs(30px,40px) mt:-50px mb:40px"
  >
    {% if section.settings.logo___image.src != blank %}
      <div
        class="pos:relative flxs:1 mr:30px@sm mb:20px@+sm"
        style="width: {{ section.settings["logo___width"] }}px"
      >
        {% comment %}<BẮT_ĐẦU_TÁCH_FILE_1:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_alt,_style,_placeholder,_placeholder_class,_component]>{% endcomment %}
        {% if section.settings.logo___image.src != blank %}
          <img
            class="veda-lazyload {{ _class }}"
            src="{{ section.settings["logo___image"].src | image_url: width: 10 }}"
            draggable="false"
            {% if _alt %}
              alt="{{ _alt }}"
            {% else %}
              alt="image"
            {% endif %}
            {% if section.settings.logo___image.width %}
              data-intrinsic-width="{{ section.settings["logo___image"].width }}"
              width="{{ section.settings["logo___image"].width }}"
            {% endif %}
            {% if section.settings.logo___image.height %}
              height="{{ section.settings["logo___image"].height }}"
              data-intrinsic-height="{{ section.settings["logo___image"].height }}"
            {% endif %}
            {% if _style %}
              style="{{ _style }}"
            {% endif %}
            loading="lazy"
          >
        {% else %}
          {% liquid
            assign pl = 'lifestyle-1'

            if _placeholder
              assign pl = _placeholder
            endif

            assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2 ' | append: _class

            if 'w:80px'
              assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2 ' | append: 'w:80px'
            endif
          %}
          {{ pl | placeholder_svg_tag: placeholder_class }}
        {% endif %}
        {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      </div>
    {% endif %}
    <div class="w:40%@sm pr:30px@sm mb:20px@+sm">
      {% if section.settings.subscribe___title %}
        <h3
          class="c:color-light-freeze fz:28px fw:400 ff:font-secondary"
          
        >
          {{ section.settings.subscribe___title }}
        </h3>
      {% endif %}
      {% if section.settings.subscribe___description %}
        <div
          class="mt:5px fz:14px c:color-light-freeze.8"
          
        >
          {{ section.settings.subscribe___description }}
        </div>
      {% endif %}
    </div>
    <div class="w:60%@sm">
      {% form 'customer' %}
        {% if builderMode and _test %}
          <div class="d:flex ai:center fz:14px p:10px m:10px_0 bgc:color-error.1 c:color-error ls:none*ul p:0*ul m:0*ul">
            <span><i class="far fa-exclamation-circle mr:10px"></i></span>
            <div class="errors">Form error placeholder</div>
          </div>
        {% elsif form.errors %}
          <div class="d:flex ai:center fz:14px p:10px m:10px_0 bgc:color-error.1 c:color-error ls:none*ul p:0*ul m:0*ul">
            <span><i class="far fa-exclamation-circle mr:10px"></i></span>
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        {% if builderMode and _test %}
          <div class="d:flex ai:center fz:14px p:10px m:10px_0 bgc:color-success.1 c:color-success">
            <span><i class="far fa-check-circle mr:10px"></i></span>
            <div>{{ 'veda.newsletter.success' | t }}</div>
          </div>
        {% elsif form.posted_successfully? %}
          <div class="d:flex ai:center fz:14px p:10px m:10px_0 bgc:color-success.1 c:color-success">
            <span><i class="far fa-check-circle mr:10px"></i></span>
            <div>{{ 'veda.newsletter.success' | t }}</div>
          </div>
        {% endif %}

        <div class="d:flex w:100% h:40px c:color-gray9 bgc:transparent bdb:2px_solid_color-light-freeze.6">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input
            class="w:100% h:100%! pr:15px bgc:transparent c:color-light-freeze c:color-light-freeze.8||ph fz:18px ff:font-secondary! bd:none"
            type="email"
            name="contact[email]"
            autocorrect="off"
            autocapitalize="off"
            placeholder="{{ 'veda.templates.contact.form.email' | t }}"
          >
          <button
            class="d:inline-flex ai:center h:100% ff:font-secondary fw:500 fz:18px trs:0.3s cur:pointer c:color-light-freeze trs:0.3s bgc:transparent bd:0 bxsh:none o:none"
            type="submit"
            aria-label="submit"
          >
            <span
              class="mr:10px"
            >
              <i class="far fa-paper-plane"></i>
            </span>
            <span>{{ 'veda.templates.contact.form.send' | t }}</span>
          </button>
        </div>
      {% endform %}
    </div>
  </div>
{% endcapture %}

{% capture Content %}
  {% if envatoMode %}
    {% liquid
      assign menuIndex = -1
    %}

    {% for block in section.blocks %}
      {% assign item = block.settings %}
      <div class="col">
        <div>
          {% case block.type %}
            {% when 'content_information' %}
              {% if item.content___title and block.type != 'subscribe' %}
                <h3
                  class="mb:23px c:color-light-freeze fz:16px fw:400 ff:font-secondary"
                  
                >
                  {{ item.content___title }}
                </h3>
              {% endif %}
              {% if item.content___logo.src %}
                <a href="/" class="d:block maw:200px">
                  {% if item.image.src != blank %}
                    <img
                      class="veda-lazyload {{ _class }}"
                      src="{{ item.image.src | image_url: width: 10 }}"
                      draggable="false"
                      {% if _alt %}
                        alt="{{ _alt }}"
                      {% else %}
                        alt="image"
                      {% endif %}
                      {% if item.image.width %}
                        data-intrinsic-width="{{ item.image.width }}"
                        width="{{ item.image.width }}"
                      {% endif %}
                      {% if item.image.height %}
                        height="{{ item.image.height }}"
                        data-intrinsic-height="{{ item.image.height }}"
                      {% endif %}
                      {% if _style %}
                        style="{{ _style }}"
                      {% endif %}
                      loading="lazy"
                    >
                  {% else %}
                    {% liquid
                      assign pl = 'lifestyle-1'

                      if _placeholder
                        assign pl = _placeholder
                      endif

                      assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2 ' | append: _class

                      if 'w:80px'
                        assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2 ' | append: 'w:80px'
                      endif
                    %}
                    {{ pl | placeholder_svg_tag: placeholder_class }}
                  {% endif %}
                </a>
              {% endif %}
              {% if item.content___description %}
                <div
                  class="mt:15px fz:14px c:color-light-freeze.6"
                >
                  {{ item.content___description }}
                </div>
              {% endif %}
            {% when 'content_navigation' %}
              {% liquid
                assign menuIndex = menuIndex | plus: 1
              %}
              <h3
                class="mb:23px c:color-light-freeze fz:16px fw:400 ff:font-secondary"
              >
                {{ section.settings.menu.links[menuIndex].title }}
              </h3>
              {% if section.settings.menu.links[menuIndex].links != blank %}
                <ul class="{{ 'p:0! m:0! w:fit-content ls:none' }}">
                  {% for link in section.settings.menu.links[menuIndex].links %}
                    <li>
                      <a
                        class="{{ 'd:flex ai:center c:color-light-freeze.6 fz:14px ff:font-secondary pt:6px pb:6px trs:0.3s' }}"
                        href="{{ link.url }}"
                        {% if link.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        <span>
                          {{ link.title }}
                        </span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
          {% endcase %}
        </div>
      </div>
    {% endfor %}
  {% else %}

    {% for block in section.blocks %}
      {% assign item1 = block.settings %}
        <div class="col">
          <div>
            {% if item1.content___title and block.type != 'subscribe' %}
              <h3
                class="mb:23px c:color-light-freeze fz:16px fw:400 ff:font-secondary"
                
              >
                {{ item1.content___title }}
              </h3>
            {% endif %}
            {% case block.type %}
              {% when 'content_information' %}
              
                {% if item1.content___description %}
                  <div
                    class="mt:15px fz:14px c:color-light-freeze.6"
                    
                  >
                    {{ item1.content___description }}
                  </div>
                {% endif %}
              {% when 'content_navigation' %}
                <ul class="p:0! m:0! w:fit-content ls:none"></ul>
            {% endcase %}
          </div>
        </div>
    {% endfor %}
  {% endif %}
{% endcapture %}

{% capture FooterBottom %}
  <div
    class="ff:font-secondary c:color-light-freeze.8 fz:14px bdt:1px_solid_color-light-freeze.1 mt:30px"
    
  >
    <div class="d:flex@sm ai:center jc:space-between ta:center@+sm p:20px_0">
      <div>
        {{ section.settings.VEDA_richText_1 }}
      </div>
      <div class="pos:relative mt:15px@+sm d:flex">
        {% for type in shop.enabled_payment_types %}
          <img
            class="mt:3px mb:3px mr:6px"
            src="{{ type | payment_type_img_url }}"
            width="38"
            height="24"
            loading="lazy"
            alt="payment"
          >
        {% endfor %}
      </div>
    </div>
  </div>
{% endcapture %}

<footer data-id="{{ uniqueId }}">
  {% if 50 %}
    <div class="separator-js" style="height: {{ 50 }}px"></div>
  {% endif %}
  <div
    class="veda-lazyload pos:relative z:1 bgz:cover bgp:center pt:1px! mt:-1px"
    style="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}{{ sectionSeparator }}"
  >
    <div class="{{ containerType }}">
      {{ Subscribe }}
      <div
        class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1"
      >
        {{ Content }}
      </div>
      {{ FooterBottom }}
    </div>
    {% if section.settings.VEDA_select_3 == 'video' and section.settings.VEDA_video_1 %}
      <div data-veda-video="{{ section.settings["VEDA_video_1"] }}"></div>
    {% endif %}
    {% if section.settings.VEDA_switch_2 %}
      <div
        class="pos:absolute ins:0 z:-1"
        style="background-color: {{ null }};backdrop-filter: blur({{ section.settings["VEDA_slider_3"] }}px)"
      ></div>
    {% endif %}
  </div>
</footer>
{% schema %}
{
  "name": "Footer 4",
  "blocks": [
    {
      "type": "content_information",
      "name": "Content > Information",
      "settings": [
        {
          "label": "Content > Title",
          "id": "content___title",
          "info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
          "type": "liquid"
        },
        {
          "label": "Content > Description",
          "id": "content___description",
          "info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
          "type": "liquid"
        }
      ]
    },
    {
      "type": "content_navigation",
      "name": "Content > Navigation",
      "settings": [
      ]
    }
  ],
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "image_picker",
      "id": "logo___image",
      "label": "Logo Image"
    },
    {
      "label": "Logo Width",
      "id": "logo___width",
      "type": "number"
    },
    {
      "label": "Subscribe Title",
      "id": "subscribe___title",
      "type": "liquid",
      "info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
      "default": "Subscribe"
    },
    {
      "label": "Subscribe Description",
      "id": "subscribe___description",
      "type": "liquid",
      "info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
      "default": "<p>Subscribe to our newsletter and get 10% off your first purchase</p>"
    },
    {
      "label": "Footer Bottom > Copyright",
      "id": "VEDA_richText_1",
      "type": "liquid",
      "info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
      "default": "<p>Copyright</p>"
    },
    {
      "label": "Section Settings > Container Width",
      "id": "VEDA_select_4",
      "type": "select",
      "default": "boxed",
      "options": [
        {
          "label": "Boxed",
          "value": "boxed"
        },
        {
          "label": "Full Width",
          "value": "full_width"
        },
        {
          "label": "Manual",
          "value": "manual"
        }
      ]
    },
    {
      "label": "Section Settings > Container Gap",
      "id": "VEDA_slider_5",
      "type": "number"
    },
    {
      "label": "Section Settings > Background Type",
      "id": "VEDA_select_3",
      "type": "select",
      "default": "none",
      "options": [
        {
          "label": "Image",
          "value": "image"
        },
        {
          "label": "Color",
          "value": "color"
        },
        {
          "label": "Video",
          "value": "video"
        },
        {
          "label": "None",
          "value": "none"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "VEDA_image_1",
      "label": "Background Image"
    },
    {
      "label": "Section Settings > Background Overlay Blur",
      "id": "VEDA_slider_3",
      "type": "number"
    },
    {
      "label": "Section Settings > Enable Background Overlay",
      "id": "VEDA_switch_2",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Background Size",
      "id": "VEDA_select_2",
      "type": "select",
      "default": "cover",
      "options": [
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Contain",
          "value": "contain"
        }
      ]
    },
    {
      "label": "Section Settings > Background Fixed",
      "id": "VEDA_switch_3",
      "type": "checkbox",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "background_opacity",
      "min": 0,
      "unit": "%",
      "max": 100,
      "step": 1,
      "label": "Opacity",
      "default": 100
    },
    {
      "label": "Section Settings > Background Video",
      "id": "VEDA_video_1",
      "type": "text"
    }
  ],
  "tag": "div",
  "presets": [
    {
      "name": "Footer 4",
      "blocks": [
        {
          "type": "content_information"
        },
        {
          "type": "content_navigation"
        },
        {
          "type": "content_navigation"
        },
        {
          "type": "content_navigation"
        }
      ]
    }
  ]
}
{% endschema %}
