{% assign uniqueId = 'id_e483e5f2-2ce7-47e2-837c-4d51f650bac8' %}
{% assign builderMode = false %}
{% assign envatoMode = true %}
{% comment %}<BẮT_ĐẦU_TÁCH_FILE_1:[section]>{% endcomment %}
{% liquid
  if null
    assign backgroundFixed = 'fixed'
  else
    assign backgroundFixed = 'scroll'
  endif

  if 'none' == 'color'
    assign backgroundColor = 'background-color: ' | append: null | append: ';'
  else
    assign backgroundColor = ''
  endif

  if 'none' == 'image' and section.settings.VEDA_image_1.src
    assign bgImage = section.settings.VEDA_image_1.src | image_url: width: 2000

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: 'cover' | append: ';'
  elsif 'none' == 'image' and section.settings.VEDA_image_1.src == blank
    assign bgImage = 'https://cdn.shopify.com/s/files/1/0552/5510/5616/files/udxhtnzxtq.png?v=1681903122&width=1000'

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: 'cover' | append: ';'
  else
    assign backgroundImage = ''
  endif

  assign sectionPadding = 'padding-top: ' | append: 50 | append: 'px;padding-right: ' | append: null | append: 'px;padding-bottom: ' | append: 50 | append: 'px;padding-left: ' | append: null | append: 'px;'

  if section.settings.VEDA_select_5 == 'full_width'
    assign containerType = 'container-fluid'
  else
    assign containerType = 'container'
  endif

  if section.settings.VEDA_slider_6 >= 0
    assign containerGap = 'padding-left: ' | append: section.settings.VEDA_slider_6 | append: 'px; padding-right: ' | append: section.settings.VEDA_slider_6 | append: 'px;'
  else
    assign containerGap = ''
  endif

  if section.settings.section_settings___width >= 0
    assign containerWidth = 'max-width: ' | append: section.settings.section_settings___width | append: 'px;'
  else
    assign containerWidth = ''
  endif

  if section.settings.VEDA_slider_5 >= 0
    assign settingGap = section.settings.VEDA_slider_5 | divided_by: 2.0

    assign settingGapVertical = section.settings.VEDA_slider_5
  else
    assign settingGap = ''

    assign settingGapVertical = ''
  endif

  assign colGap = 'margin-top: ' | append: settingGapVertical | append: 'px; padding-left: ' | append: settingGap | append: 'px; padding-right: ' | append: settingGap | append: 'px;'

  assign rowGap = 'margin-top: -' | append: settingGapVertical | append: 'px; margin-left: -' | append: settingGap | append: 'px; margin-right: -' | append: settingGap | append: 'px;'

  assign sectionSeparator = ''

  if section.settings.VEDA_switch_9
    if section.settings.VEDA_slider_4
      assign sectionSeparator = sectionSeparator | append: 'border-top: ' | append: section.settings.VEDA_slider_4 | append: 'px solid ' | append: '#f3f3f3' | append: ';'
    endif

    if section.settings.VEDA_slider_3
      assign sectionSeparator = sectionSeparator | append: 'border-bottom: ' | append: section.settings.VEDA_slider_3 | append: 'px solid ' | append: '#f3f3f3' | append: ';'
    endif
  endif

  if colGap and rowGap and builderMode and envatoMode
  endif
%}
{% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}

{% liquid
  assign _enable = false

  assign _class = false

  assign _component = false

  assign _defaul_aspect_ratio = false

  assign _image_border_radius = false

  assign _default_link = false
%}
{% capture Content %}
  {% liquid
    assign quantity_product_displayed = section.settings.product_settings___limit
  %}
  <script type="application/json" class="quickview-data-js">
    {
      add_to_cart_text: "{{ section.settings["add_to_cart___text"] }}",
      quantity_text: "{{ section.settings["quick_view___quantity"] }}",
      sold_out_text: "{{ section.settings["sold_out___text"] }}",
      view_detail: "{{ section.settings["quick_view___view_detail"] }}",
      add_compare: "{{ section.settings["compare_action___add"] }}",
      remove_compare: "{{ section.settings["compare_action___remove"] }}",
      add_wish_list: "{{ section.settings["wish_list_action___add"] }}",
      remove_wish_list: "{{ section.settings["VEDA_text_1"] }}",
    }
  </script>
  {% for productItem in recommendations.products limit: quantity_product_displayed %}
    <div
      class="swiper-slide w:var(--width-xs)@+sm d:flex fld:column mih:100%"
      style="--width-xs: calc({{ 100 | divided_by: 1 }}% - {{ 40 | divided_by: 2 }}px);"
    >
      <div
        class="product-card-js group* pos:relative mih:100%"
        data-css="{{ null }}"
      >
        {% comment %}<BẮT_ĐẦU_TÁCH_FILE_2:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed]>{% endcomment %}
        {% liquid
          assign price_compare = productItem.compare_at_price

          if price_compare
            assign price_compare = productItem.compare_at_price
          else
            assign price_compare = 0
          endif
        %}
        <script class="{{ 'product-card-data-js' }}" type="application/json">
          {
            id: {{ productItem.id | json }},
            title: {{ productItem.title | json }},
            vendor: {{ productItem.vendor | json }},
            handle: {{ productItem.handle | json }},
            available: {{ productItem.available | json }},
            content: {{ productItem.content | json }},
            description: {{ productItem.description | json }},
            featured_image: {{ productItem.featured_image | json }},
            images: {{ productItem.images | json }},
            options: {{ productItem.options | json }},
            selected_or_first_available_variant: {
              id: {{ productItem.selected_or_first_available_variant.id | json }},
              available: {{ productItem.selected_or_first_available_variant.available | json }},
              price: {{ productItem.selected_or_first_available_variant.price | money | json }},
              {% if productItem.selected_or_first_available_variant.compare_at_price %}
                compare_at_price: {{ productItem.selected_or_first_available_variant.compare_at_price | money | json }},
              {% else %}
                compare_at_price: {{ 0 | money | json }},
              {% endif %}
              featured_image: {{ productItem.selected_or_first_available_variant.featured_image | json }},
              image: {{ productItem.selected_or_first_available_variant.image | json }},
              inventory_quantity: {{ productItem.selected_or_first_available_variant.inventory_quantity | json }},
              options: {{ productItem.selected_or_first_available_variant.options | json }},
              title: {{ productItem.selected_or_first_available_variant.title | json }},
              sku: {{ productItem.selected_or_first_available_variant.sku | json }},
              url: {{ productItem.selected_or_first_available_variant.url | json }},
            },
            price_max: {{ productItem.price_max | json }},
            price_min: {{ productItem.price_min | json }},
            type: {{ productItem.type | json }},
            tags: {{ productItem.tags | json }},
            variants: [
            {% for item in productItem.variants %}
                {
                  id: {{ item.id | json }},
                  available: {{ item.available | json }},
                  price: {{ item.price | money | json }},
                  {% if item.compare_at_price %}
                    compare_at_price: {{ item.compare_at_price | money | json }},
                  {% else %}
                    compare_at_price: {{ 0 | money | json }},
                  {% endif %}
                  featured_image: {{ item.featured_image | json }},
                  image: {{ item.image | json }},
                  inventory_quantity: {{ item.inventory_quantity | json }},
                  options: {{ item.options | json }},
                  title: {{ item.title | json }},
                  sku: {{ item.sku | json }},
                  url: {{ item.url | json }},
                },
            {% endfor %}
          ],
            price: {{ productItem.price | money | json }},
            compare_at_price: {{ price_compare | money | json }},
            options_with_values: {{ productItem.options_with_values | json }},
            url: {{ productItem.url | json }},
            published_at: {{ productItem.published_at | json }}
          }
        </script>
        {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}

        <script type="application/json" class="current-variant-id">
          {{ productItem.selected_or_first_available_variant.id | json }}
        </script>
        <div class="pos:absolute t:10px l:10px z:12 d:flex fld:column">
          {% comment %}<BẮT_ĐẦU_TÁCH_FILE_3:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare]>{% endcomment %}
          {% liquid
            assign productDate = productItem.published_at | date: '%s'

            assign currentDate = 'now' | date: '%s'

            assign difference = currentDate | minus: productDate | divided_by: 86400.0
          %}
          {% if section.settings.new___enable %}
            {% if difference < 10 %}
              <div
                {% if 'p:3px_10px bdrs:3px bgc:#17c478 lh:normal fz:12px ff:font-secondary tt:uppercase lts:1px c:color-light-freeze mb:5px' %}
                  class="w:fit-content {{ 'p:3px_10px bdrs:3px bgc:#17c478 lh:normal fz:12px ff:font-secondary tt:uppercase lts:1px c:color-light-freeze mb:5px' }}"
                {% else %}
                  class="p:5px_10px bdrs:3px bgc:#17c478 lh:normal fz:10px ff:font-secondary tt:uppercase lts:1px c:color-light-freeze mb:5px w:fit-content"
                {% endif %}
                {% if 'new' %}
                  component="{{ 'new' }}"
                {% endif %}
                data-css="{{ null }}"
              >
                {{ section.settings.new___text }}
              </div>
            {% endif %}
          {% endif %}
          {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
          {% comment %}<BẮT_ĐẦU_TÁCH_FILE_4:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare,productDate,currentDate,difference]>{% endcomment %}
          {% if productItem.compare_at_price > productItem.price and section.settings.sale___enable %}
            <div
              {% if 'p:3px_10px bdrs:3px bgc:#eb4747 lh:normal fz:12px ff:font-secondary tt:uppercase lts:1px c:color-light-freeze' %}
                class="w:fit-content {{ 'p:3px_10px bdrs:3px bgc:#eb4747 lh:normal fz:12px ff:font-secondary tt:uppercase lts:1px c:color-light-freeze' }}"
              {% else %}
                class="p:5px_10px bdrs:3px bgc:#eb4747 lh:normal fz:10px ff:font-secondary tt:uppercase lts:1px c:color-light-freeze w:fit-content"
              {% endif %}
              {% if 'sale' %}
                component="{{ 'sale' }}"
              {% endif %}
              data-css="{{ null }}"
            >
              {% liquid
                assign ratio = productItem.price | times: 100.0 | divided_by: productItem.compare_at_price
              %}
              -{{ 100 | minus: ratio | ceil }}%
            </div>
          {% endif %}
          {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
        </div>
        <div class="w:100% pos:relative">
          {% comment %}<BẮT_ĐẦU_TÁCH_FILE_5:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare,productDate,currentDate,difference,ratio]>{% endcomment %}
          {% liquid
            if _defaul_aspect_ratio and _defaul_aspect_ratio != 0
              assign aspectRatio = _defaul_aspect_ratio
            else
              assign aspectRatio = 90
            endif

            if section.settings.VEDA_slider_2 and section.settings.VEDA_slider_2 != 0
              assign aspectRatio = section.settings.VEDA_slider_2
            endif
          %}
          <div
            class="ov:hidden w:100%"
            {% if _image_border_radius %}
              style="border-radius: {{ _image_border_radius }}px"
            {% endif %}
          >
            <a
              href="{{ productItem.url }}"
              class="veda-image-cover pos:relative d:block trs:opacity_0.3s z:1 {% if productItem.images[1] %}op:0*group-hover{% endif %}"
              style="--aspect-ratio:{{ aspectRatio }}"
            >
              <img
                class="product-card-image-js veda-lazyload"
                src="{{ productItem.featured_image.src | image_url: width: 10 }}"
                alt="{{ productItem.title }}"
                width="{{ productItem.featured_image.width }}"
                height="{{ productItem.featured_image.height }}"
                data-intrinsic-width="{{ productItem.featured_image.width }}"
                data-intrinsic-height="{{ productItem.featured_image.height }}"
                loading="lazy"
              >
            </a>
            {% if productItem.images[1] %}
              <a
                href="{{ productItem.url }}"
                class="veda-image-cover pos:absolute! t:0 l:-100000px w:100% z:9 op:0 trs:opacity_0.4s,left_0s_0.4s trs:opacity_0.4s,left_0s_0s*group-hover op:1*group-hover l:0*group-hover"
                style="--aspect-ratio:{{ aspectRatio }}"
              >
                <img
                  class="veda-lazyload bgc:color-light-freeze"
                  src="{{ productItem.images[1].src | image_url: width: 10 }}"
                  alt="{{ productItem.title }}"
                  width="{{ productItem.featured_image.width }}"
                  height="{{ productItem.featured_image.height }}"
                  data-intrinsic-width="{{ productItem.images[1].width }}"
                  data-intrinsic-height="{{ productItem.images[1].height }}"
                  loading="lazy"
                >
              </a>
            {% endif %}
          </div>
          {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
          {% comment %}<BẮT_ĐẦU_TÁCH_FILE_6:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare,productDate,currentDate,difference,ratio,aspectRatio]>{% endcomment %}
          <div class="pos:absolute l:0 b:0 r:0 z:12 h:50px m:auto ov:hidden ov:visible|h">
            <div class="pos:absolute l:10px b:10px b:-5px@md r:10px h:34px h:38px@md d:flex cur:pointer trf:translateY(100%)@md trs:0.3s trf:translateY(0)*group-hover b:10px*group-hover">
              {% if section.settings.quick_view___enable %}
                <span
                  class="quickview-toggle-js mr:5px w:34px w:38px@md h:100% pos:relative fz:14px bgc:color-gray9-freeze c:color-light-freeze trs:0.3s c:color-primary|h d:flex! ai:center jc:center bdrs:4px|be fz:12px|be"
                  data-tooltip-text="{{ section.settings["VEDA_text_2"] }}"
                  data-tooltip-position="top"
                  data-tooltip-active="false"
                  data-css="{{ null }}"
                >
                  {{ section.settings.quick_view___icon }}
                </span>
              {% endif %}
              {% if section.settings.add_to_cart___enable %}
                <span
                  class="product-card-add-js lines-1 w:34px@+md flx:1@md h:100% pos:relative fz:14px ff:font-secondary bgc:color-gray9-freeze c:color-light-freeze trs:0.3s c:color-primary|h d:flex! ai:center jc:center us:none"
                  data-tooltip-position="top"
                  data-tooltip-text="{{ section.settings["add_to_cart___text"] }}"
                  data-cart-success-text="{{ section.settings["add_to_cart___text"] }}"
                  data-css="{{ null }}"
                >
                  {% if section.settings.add_to_cart___icon %}
                    <div class="product-cart-add-icon-js mr:10px@md">{{ section.settings.add_to_cart___icon }}</div>
                  {% endif %}
                  <span class="d:none@+md">{{ section.settings.add_to_cart___text }}</span>
                </span>
              {% endif %}
            </div>
          </div>
          <div class="pos:absolute t:0 r:0 b:0 z:12 w:44px m:auto ov:hidden ov:visible|h">
            <div class="pos:absolute r:10px r:-5px@md t:50%@md t:10px w:34px d:flex fld:column ai:center cur:pointer trf:translate(100%,-50%)@md trs:0.3s trf:translate(0,-50%)*group-hover@md r:10px*group-hover@md">
              {% if section.settings.VEDA_switch_4 %}
                <span
                  class="wishlist-toggle-js mb:8px w:34px h:34px pos:relative fz:14px bdrs:50% bgc:color-light c:color-gray9 trs:0.3s c:color-primary|h d:flex! ai:center jc:center bdrs:4px|be fz:12px|be"
                  data-tooltip-position="left"
                  data-tooltip-active="true"
                  data-tooltip-text="{{ section.settings["wish_list_action___add"] }}"
                  data-tooltip-active-text="{{ section.settings["VEDA_text_1"] }}"
                  data-css="{{ null }}"
                >
                  {{ section.settings.wish_list_action___icon }}
                </span>
              {% endif %}
              {% if section.settings.compare_action___enable %}
                <span
                  class="compare-toggle-js w:34px h:34px pos:relative fz:14px bdrs:50% bgc:color-light c:color-gray9 trs:0.3s c:color-primary|h d:flex! ai:center jc:center bdrs:4px|be fz:12px|be"
                  data-tooltip-position="left"
                  data-tooltip-active="false"
                  data-tooltip-text="{{ section.settings["compare_action___add"] }}"
                  data-tooltip-active-text="{{ section.settings["compare_action___remove"] }}"
                  data-css="{{ null }}"
                >
                  {{ section.settings.compare_action___icon }}
                </span>
              {% endif %}
            </div>
          </div>
          {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}

          {% comment %}<BẮT_ĐẦU_TÁCH_FILE_7:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare,productDate,currentDate,difference,ratio,aspectRatio]>{% endcomment %}
          {% liquid
            assign is_sold_out = true

            assign variant = productItem.selected_or_first_available_variant

            if variant.available
              assign is_sold_out = false
            endif

            if builderMode
              assign poiter_event = ''
            else
              assign poiter_event = 'pe:none'
            endif

            if is_sold_out and section.settings.sold_out___enable
              assign visibleSoldOut = 'd:block'
            else
              assign visibleSoldOut = 'd:none'
            endif
          %}
          <div class="sold-out-js pos:absolute t:50% l:0 p:pfs(5px,20px) w:100% h:fit-content trf:translateY(-50%) bg:transparent!*span ta:center z:10 {{ poiter_event }} {{ visibleSoldOut }}">
            <div
              class="pos:absolute t:0 l:0 w:100% h:100% bgc:color-gray9 op:0.4 z:-1"
              data-css="{{ null }}"
            ></div>
            <span
              class=" fz:pfs(13px,20px) fw:500 c:color-light"
              style="background: transparent !important; background-color: transparent !important"
              data-css="{{ null }}"
            >
              {{ section.settings.sold_out___text }}
            </span>
          </div>
          {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
        </div>
        <div
          class="d:flex fld:column pt:10px"
          style="text-align: {{ "left" }}"
        >
          <div style="order:{{ "0" }}">
            {% if section.settings.VEDA_switch_8 %}
              <a
                class="{{ 'd:block fz:12px ff:font-secondary c:color-gray7' }}"
                data-css="{{ null }}"
                href="{{ shop.url }}/collections/vendors?q={{ productItem.vendor }}"
                {% if _component %}
                  component="{{ _component }}"
                {% endif %}
              >
                {{ productItem.vendor }}
              </a>
            {% endif %}
          </div>
          <h3 style="order:{{ "1" }}">
            <a
              class="d:block mt:5px fz:14px ff:font-secondary fw:400 c:color-gray9 trs:0.3s"
              href="{{ productItem.url }}"
              data-css="{{ null }}"
            >
              {{ productItem.title }}
            </a>
          </h3>
          <div style="order:{{ "2" }}">
            <div>
              {% comment %}<BẮT_ĐẦU_TÁCH_FILE_8:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare,productDate,currentDate,difference,ratio,aspectRatio,is_sold_out,variant,poiter_event,visibleSoldOut]>{% endcomment %}
              <div class="{{ 'product-content-price-js d:inline-flex mt:5px' }}">
                {% if productItem.selected_or_first_available_variant.compare_at_price
                    > productItem.selected_or_first_available_variant.price
                %}
                  <div class="product-price-on-sale-js">
                    <del
                      class="{{ 'fw:400 ff:font-secondary fz:16px c:color-gray6' }} mr:5px"
                      data-css="{{ null }}"
                    >
                      {{ productItem.selected_or_first_available_variant.compare_at_price | money }}
                    </del>
                    <ins
                      class="{{ 'fw:400 ff:font-secondary fz:18px c:color-primary td:none mr:5px' }}"
                      data-css="{{ null }}"
                    >
                      {{ productItem.selected_or_first_available_variant.price | money }}
                    </ins>
                  </div>
                  <ins
                    class="{{ 'fw:400 ff:font-secondary fz:18px c:color-primary td:none mr:5px' }} product-price-not-sale-js d:none"
                    data-css="{{ null }}"
                  >
                  </ins>
                {% else %}
                  <div class="product-price-on-sale-js d:none">
                    <del
                      class="{{ 'fw:400 ff:font-secondary fz:16px c:color-gray6' }} mr:5px"
                      data-css="{{ null }}"
                    >
                    </del>
                    <ins
                      class="{{ 'fw:400 ff:font-secondary fz:18px c:color-primary td:none mr:5px' }}"
                      data-css="{{ null }}"
                    >
                    </ins>
                  </div>
                  <ins
                    class="{{ 'fw:400 ff:font-secondary fz:18px c:color-primary td:none mr:5px' }} product-price-not-sale-js"
                    data-css="{{ null }}"
                  >
                    <div>
                      {{ productItem.selected_or_first_available_variant.price | money }}
                    </div>
                  </ins>
                {% endif %}
              </div>
              {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
            </div>
          </div>
          {% if section.settings.VEDA_switch_7 %}
            <div style="order:{{ "3" }}">
              <div
                class="product-card-colors-js d:flex mt:8px mt:0|e ml:-2px mr:-2px"
                {% if 'left' == 'center' %}
                  style="justify-content: center"
                {% elsif 'left' == 'right' %}
                  style="justify-content: flex-end"
                {% endif %}
              ></div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endcapture %}

{% capture SwiperSlider %}
  {% liquid
    assign delay = 1000000000

    assign gap = 20

    if section.settings.VEDA_switch_3
      assign delay = 4000
    endif

    if section.settings.slider_settings___delay and section.settings.VEDA_switch_3
      assign delay = section.settings.slider_settings___delay
    endif

    if section.settings.VEDA_slider_5 or section.settings.VEDA_slider_5 == 0
      assign gap = section.settings.VEDA_slider_5
    endif
  %}
  <div class="pos:relative">
    <div
      class="veda-swiper"
      data-options="
        {
          slidesPerView: 'auto',
          autoHeight: true,
          autoplay: {
            delay: {{ delay }}
          },
          loop: {{ section.settings["slider_settings___loop"] }},
          navigation: {
            nextEl: '[data-id={{ uniqueId }}] .swiper-button-next',
            prevEl: '[data-id={{ uniqueId }}] .swiper-button-prev',
            disabledClass: 'op:0!'
          },
          spaceBetween: {{ gap }},
          breakpoints: {
            768: { slidesPerView: {{ 2 }} },
            992: { slidesPerView: {{ 3 }} },
            1200: { slidesPerView: {{ 5 }} }
          }
        }
      "
    >
      <div class="swiper ov:visible@+sm!">
        <div
          class="veda-swiper-wrapper swiper-wrapper"
          data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=8&intent=related"
        >
          {{ Content }}
        </div>
      </div>
      {% comment %}<BẮT_ĐẦU_TÁCH_FILE_9:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare,productDate,currentDate,difference,ratio,aspectRatio,is_sold_out,variant,poiter_event,visibleSoldOut,delay,gap]>{% endcomment %}
      {% liquid
        assign arrowGeneralClassName = 'fz:pfs(24px,30px)! d:flex! ai:center jc:center ov:hidden trs:0.3s m:5px'

        case section.settings.VEDA_select_1
          when 'square_shadow'
            assign arrowVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-light c:color-gray9 c:color-primary|h bxsh:0_5px_15px_color-gray9.1'
          when 'square_border'
            assign arrowVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-light bd:1px_solid_color-gray2 c:color-gray9 c:color-primary|h'
          when 'square_gray'
            assign arrowVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-gray2 c:color-gray9 c:color-primary|h'
          when 'circle_shadow'
            assign arrowVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-light c:color-gray9 c:color-primary|h bxsh:0_5px_15px_color-gray9.1 bdrs:50%'
          when 'circle_border'
            assign arrowVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-light bd:1px_solid_color-gray2 c:color-gray9 c:color-primary|h bdrs:50%'
          when 'circle_gray'
            assign arrowVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-gray2 c:color-gray9 c:color-primary|h bdrs:50%'
          when 'custom'
            assign arrowVariantClassName = 'w:30px h:30px'
          else
            assign arrowVariantClassName = 'w:30px h:30px'
        endcase
      %}

      {% if section.settings.VEDA_switch_1
        and section.settings.VEDA_select_2 != 'top'
        or section.settings.VEDA_select_2 == 'top'
        and 12 != 12
      %}
        <div
          {% if section.settings.VEDA_select_2 == 'top' and 12 != 12 %}
            class="d:flex pos:absolute b:calc(100%_+_5px) r:0"
          {% elsif section.settings.VEDA_select_2 == 'bottom' %}
            class="d:flex@sm d:none mt:15px"
            style="justify-content: {{ "flex-start" }}"
          {% else %}
            class="d:flex@sm d:none"
          {% endif %}
        >
          <div
            {% if section.settings.VEDA_select_2 == 'middle' %}
              class="swiper-button-prev swiper-button-prev-middle l:0! trf:translate(-50%,-50%) m:0! {{ arrowGeneralClassName }} {{ arrowVariantClassName }}"
            {% elsif section.settings.VEDA_select_2 == 'middle_out' %}
              class="swiper-button-prev swiper-button-prev-middle-out l:auto! r:100%! trf:translate(0,-50%) {{ arrowGeneralClassName }} {{ arrowVariantClassName }}"
            {% elsif section.settings.VEDA_select_2 == 'middle_in' %}
              class="swiper-button-prev swiper-button-prev-middle-in l:0! trf:translate(0,-50%) {{ arrowGeneralClassName }} {{ arrowVariantClassName }}"
            {% else %}
              class="swiper-button-prev swiper-button-prev-bottom pos:static! trf:none! mt:0! {{ arrowGeneralClassName }} {{ arrowVariantClassName }}"
            {% endif %}
            data-css="{{ null }}"
          >
            <span>{{ section.settings.VEDA_icon_2 }}</span>
          </div>
          <div
            {% if section.settings.VEDA_select_2 == 'middle' %}
              class="swiper-button-next swiper-button-next-middle r:0! trf:translate(50%,-50%) m:0! {{ arrowGeneralClassName }} {{ arrowVariantClassName }}"
            {% elsif section.settings.VEDA_select_2 == 'middle_out' %}
              class="swiper-button-next swiper-button-next-middle r:auto! l:100%! trf:translate(0,-50%) {{ arrowGeneralClassName }} {{ arrowVariantClassName }}"
            {% elsif section.settings.VEDA_select_2 == 'middle_in' %}
              class="swiper-button-next swiper-button-next-middle r:0! trf:translate(0,-50%) {{ arrowGeneralClassName }} {{ arrowVariantClassName }}"
            {% else %}
              class="swiper-button-next swiper-button-next-bottom pos:static! trf:none! mt:0! {{ arrowGeneralClassName }} {{ arrowVariantClassName }}"
            {% endif %}
            data-css="{{ null }}"
          >
            <span>{{ section.settings.VEDA_icon_1 }}</span>
          </div>
        </div>
      {% endif %}
      {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      {% if section.settings.VEDA_switch_2 %}
        <div
          class="swiper-pagination c:color-gray9 bd:2px_solid_color-light*span bxz:content-box*span"
          data-child-css="{{ null }}"
        ></div>
      {% endif %}
    </div>
  </div>
{% endcapture %}

<section
  data-id="{{ uniqueId }}"
  class="veda-lazyload pos:relative z:1 bgz:cover bgp:center"
  style="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}{{ sectionSeparator }}"
>
  <script type="application/json" class="product-id">
    {{ product.id }}
  </script>
  <div
    id="product-recommendations"
    class="{{ containerType }}"
    {% if section.settings.VEDA_slider_6
      or section.settings.VEDA_slider_6 == 0
      or section.settings.section_settings___width
      or section.settings.section_settings___width == 0
    %}
      style="{{ containerGap }}{{ containerWidth }}"
    {% endif %}
  >
    <div
      {% if 'left' == 'left' %}
        class="row mt:0!"
      {% else %}
        class="row mt:0! fld:row-reverse"
      {% endif %}
    >
      <div class="col-xs-{{ 12 }} col-sm-{{ 12 }} col-md-{{ 12 }} col-lg-{{ 12 }} mt:0!">
        <div
          {% if 12 == 12 %}
            class="pos:relative d:flex ai:center jc:space-between"
          {% else %}
            class="pos:relative"
          {% endif %}
        >
          {% comment %}<BẮT_ĐẦU_TÁCH_FILE_10:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare,productDate,currentDate,difference,ratio,aspectRatio,is_sold_out,variant,poiter_event,visibleSoldOut,delay,gap,arrowGeneralClassName,arrowVariantClassName]>{% endcomment %}
          <div class="d:flex fld:column w:100%">
            {% comment %}CẢNH BÁO: Các field settings đã bị cắt vợi đi để pass qua shopify theme check => Các item sẽ trở thành y hệt nhau về một số thứ => Check code để fix css sao cho giống với theme demo => Ví dụ mỗi item đều có field color picker để setup background. Item 1 màu xanh, Item 2 màu đỏ => Sync ở chế độ cắt vợi đi thì cả 2 Item sẽ thành màu xanh => Sai với theme demo => Cần fix{% endcomment %}

            {% for block in section.blocks %}
              {% assign heading_item = block.settings %}

              {% if heading_item.heading___enable %}
                {% liquid
                  assign align = 'left'

                  if 'left' == 'left'
                    assign align = 'start'
                  elsif 'left' == 'right'
                    assign align = 'end'
                  endif
                %}
                {% capture attr %}
                  data-css="{{ null }}" class="fw:500" style="text-align: {{ align }}"
                {% endcapture %}
                {% case block.type %}
                  {% when 'heading_title' %}
                    {% if heading_item.heading___title_tag_name == 'h2' %}
                      <h2 {{ attr }}>{{ heading_item.heading___title }}</h2>
                    {% elsif heading_item.heading___title_tag_name == 'h3' %}
                      <h3 {{ attr }}>{{ heading_item.heading___title }}</h3>
                    {% elsif heading_item.heading___title_tag_name == 'h4' %}
                      <h4 {{ attr }}>{{ heading_item.heading___title }}</h4>
                    {% elsif heading_item.heading___title_tag_name == 'h5' %}
                      <h5 {{ attr }}>{{ heading_item.heading___title }}</h5>
                    {% elsif heading_item.heading___title_tag_name == 'h6' %}
                      <h6 {{ attr }}>{{ heading_item.heading___title }}</h6>
                    {% endif %}
                  {% when 'heading_text' %}
                    <div
                      data-css="{{ null }}"
                      style="text-align: {{ align }}"
                      class="fz:16px"
                    >
                      {{ heading_item.heading___text }}
                    </div>
                  {% when 'heading_icon' %}
                    <div
                      data-css="{{ null }}"
                      {% if 'left' == 'left' %}
                        style="text-align: start"
                      {% elsif 'left' == 'center' %}
                        style="text-align: {{ "left" }}; margin-left: auto; margin-right: auto"
                      {% elsif 'left' == 'right' %}
                        style="text-align: end; margin-left: auto; margin-right: 0"
                      {% endif %}
                      class="fz:34px"
                    >
                      {{ heading_item.heading___icon }}
                    </div>
                  {% when 'heading_space' %}
                    <div style="height: {{ heading_item.heading___space }}px"></div>
                  {% when 'link' %}
                    <a
                      href="{{ heading_item.link }}"
                      class="ff:font-secondary fz:16px fw:500 c:color-gray9 c:color-gray9|h! td:underline"
                      data-css="{{ heading_item.link_design.id }}"
                      style="text-align: {{ align }}"
                    >
                      {{ heading_item.text_link }}
                    </a>
                  {% when 'heading_divider' %}
                    {% assign headingDividerPadding = 'padding-top: '
                      | append: null
                      | append: 'px;padding-right: '
                      | append: null
                      | append: 'px;padding-bottom: '
                      | append: null
                      | append: 'px;padding-left: '
                      | append: null
                      | append: 'px;'
                    %}
                    <div
                      class="pt:20px fz:0"
                      style="text-align: {{ align }};{{ headingDividerPadding }}"
                    >
                      {% if heading_item.heading___divider == 'wave' %}
                        <div class="d:inline-block">
                          <svg
                            width="56px"
                            height="7px"
                            viewBox="0 0 56 7"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            fill="none"
                          >
                            <g transform="translate(-288.000000, -4390.000000)" class="stk:color-gray3" style="stroke: {{ null }}">
                                <g transform="translate(135.000000, 4033.000000)">
                                    <g transform="translate(0.000000, 48.000000)">
                                        <g transform="translate(153.000000, 310.000000)">
                                            <path d="M0,0 C4.64733427,0 4.65894638,2 9.33333333,2 C14.0077203,2 13.9400367,0 18.6666667,0 C23.3932966,0 23.3301172,2 28,2 C32.6698828,2 32.6447946,0 37.3333333,0 C42.0218721,0 41.9540981,2 46.6666667,2 C51.3792353,2 51.3554302,0 56,0"></path>
                                            <path d="M0,3 C4.64733427,3 4.65894638,5 9.33333333,5 C14.0077203,5 13.9400367,3 18.6666667,3 C23.3932966,3 23.3301172,5 28,5 C32.6698828,5 32.6447946,3 37.3333333,3 C42.0218721,3 41.9540981,5 46.6666667,5 C51.3792353,5 51.3554302,3 56,3"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                          </svg>
                        </div>
                      {% elsif heading_item.heading___divider == 'mountain' %}
                        <div class="d:inline-block">
                          <svg
                            width="60px"
                            height="9px"
                            viewBox="0 0 60 9"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-3.000000, -47.000000)" stroke-width="2" class="stk:color-gray3" style="stroke: {{ null }}">
                                    <g transform="translate(0.000000, 45.000000)">
                                        <polyline points="4 9 9.8 4 15.6 9 21.4 4 27.2 9 33 4 38.8 9 44.6 4 50.4 9 56.2 4 62 9"></polyline>
                                    </g>
                                </g>
                            </g>
                          </svg>
                        </div>
                      {% else %}
                        <div
                          class="d:inline-block! w:50px h:2px bgc:color-gray3"
                          style="background-color: {{ null }}"
                        ></div>
                      {% endif %}
                    </div>
                  {% else %}

                {% endcase %}
              {% endif %}
            {% endfor %}
          </div>
          {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
          {% comment %}<BẮT_ĐẦU_TÁCH_FILE_11:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare,productDate,currentDate,difference,ratio,aspectRatio,is_sold_out,variant,poiter_event,visibleSoldOut,delay,gap,arrowGeneralClassName,arrowVariantClassName,align,headingDividerPadding]>{% endcomment %}
          {% liquid
            if section.settings.VEDA_select_4 == 'link'
              assign defaultClass = ''
            else
              assign defaultClass = ' p:12px_20px bdrs:6px fz:14px'
            endif

            if section.settings.VEDA_select_3 == 'bottom'
              assign defaultForBottomClass = ' mt:30px'
            else
              assign defaultForBottomClass = ''
            endif

            case section.settings.VEDA_select_4
              when 'primary'
                assign variantClass = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
              when 'secondary'
                assign variantClass = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
              when 'dark'
                assign variantClass = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
              when 'gray'
                assign variantClass = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
              when 'light'
                assign variantClass = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
              else
                assign variantClass = ' c:color-gray9 c:color-primary|h'
            endcase

            assign custom_class = ''

            if _class
              assign custom_class = _class
            endif
          %}
          {% capture ViewAllBase %}
            <a
              {% if _component %}
                component="{{ _component }}"
              {% else %}

              {% endif %}
              class="d:inline-flex ai:center ff:font-primary fw:500 trs:0.3s{{ defaultForBottomClass }}{{ defaultClass }}{{ variantClass }} {{ custom_class }}"
              data-css="{{ null }}"
              {% if _default_link %}
                href="{{ _default_link }}"
              {% else %}
                href="{{ section.settings["button_view_all___link"] }}"
              {% endif %}
              {% if section.settings.VEDA_switch_6 %}
                target="_blank"
              {% endif %}
            >
              {% if section.settings.VEDA_switch_5 and 'right' == 'left' %}
                <span class="mr:10px" data-css="{{ null }}">{{ section.settings.VEDA_icon_3 }}</span>
              {% endif %}
              <span>
                {{ section.settings.button_view_all___text }}
              </span>
              {% if section.settings.VEDA_switch_5 and 'right' == 'right' %}
                <span class="ml:10px" data-css="{{ null }}">{{ section.settings.VEDA_icon_3 }}</span>
              {% endif %}
            </a>
          {% endcapture %}

          {% capture ViewAllTop %}
            {% if section.settings.button_view_all___enable and section.settings.VEDA_select_3 == 'top' %}
              <div class="d:none@+md flxs:0">
                {{ ViewAllBase }}
              </div>
            {% endif %}
          {% endcapture %}

          {% capture ViewAllBottom %}
            {% if section.settings.button_view_all___enable and section.settings.VEDA_select_3 == 'bottom' %}
              <div style="text-align: {{ "left" }}">
                {{ ViewAllBase }}
              </div>
            {% endif %}
            {% if section.settings.button_view_all___enable and section.settings.VEDA_select_3 == 'top' %}
              <div class="d:none@md mt:30px">
                {{ ViewAllBase }}
              </div>
            {% endif %}
          {% endcapture %}

          {% if 'top' == 'top' %}
            {{ ViewAllTop }}
          {% else %}
            {{ ViewAllBottom }}
          {% endif %}
          {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}

          {% comment %}<BẮT_ĐẦU_TÁCH_FILE_12:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare,productDate,currentDate,difference,ratio,aspectRatio,is_sold_out,variant,poiter_event,visibleSoldOut,delay,gap,arrowGeneralClassName,arrowVariantClassName,align,headingDividerPadding,defaultClass,defaultForBottomClass,variantClass,custom_class]>{% endcomment %}
          {% liquid
            assign arrowTopGeneralClassName = 'fz:pfs(24px,30px)! d:flex! ai:center jc:center ov:hidden trs:0.3s m:5px'

            case section.settings.VEDA_select_1
              when 'square_shadow'
                assign arrowTopVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-light c:color-gray9 c:color-primary|h bxsh:0_5px_15px_color-gray9.1'
              when 'square_border'
                assign arrowTopVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-light bd:1px_solid_color-gray2 c:color-gray9 c:color-primary|h'
              when 'square_gray'
                assign arrowTopVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-gray2 c:color-gray9 c:color-primary|h'
              when 'circle_shadow'
                assign arrowTopVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-light c:color-gray9 c:color-primary|h bxsh:0_5px_15px_color-gray9.1 bdrs:50%'
              when 'circle_border'
                assign arrowTopVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-light bd:1px_solid_color-gray2 c:color-gray9 c:color-primary|h bdrs:50%'
              when 'circle_gray'
                assign arrowTopVariantClassName = 'w:pfs(30px,50px) h:pfs(30px,50px) bgc:color-gray2 c:color-gray9 c:color-primary|h bdrs:50%'
              when 'custom'
                assign arrowTopVariantClassName = 'w:30px h:30px'
              else
                assign arrowTopVariantClassName = 'w:30px h:30px'
            endcase
          %}

          {% if section.settings.VEDA_switch_1 and section.settings.VEDA_select_2 == 'top' and 12 == 12 %}
            <div class="d:flex ml:10px mb:10px">
              <div
                class="swiper-button-prev swiper-button-prev-top pos:static! trf:none! {{ arrowTopGeneralClassName }} {{ arrowTopVariantClassName }}"
                data-css="{{ null }}"
              >
                <span>{{ section.settings.VEDA_icon_2 }}</span>
              </div>
              <div
                class="swiper-button-next swiper-button-next-top pos:static! trf:none! mr:0! {{ arrowTopGeneralClassName }} {{ arrowTopVariantClassName }}"
                data-css="{{ null }}"
              >
                <span>{{ section.settings.VEDA_icon_1 }}</span>
              </div>
            </div>
          {% endif %}
          {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
        </div>
      </div>
      {% liquid
        assign contentXs = 12 | minus: 12

        assign contentSm = 12 | minus: 12

        assign contentMd = 12 | minus: 12

        assign contentLg = 12 | minus: 12
      %}
      <div class="col-xs-{{ contentXs }} col-sm-{{ contentSm }} col-md-{{ contentMd }} col-lg-{{ contentLg }} mt:0!">
        {{ SwiperSlider }}
      </div>
    </div>
    {% comment %}<BẮT_ĐẦU_TÁCH_FILE_13:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_enable,_class,_component,_defaul_aspect_ratio,_image_border_radius,_default_link,quantity_product_displayed,price_compare,productDate,currentDate,difference,ratio,aspectRatio,is_sold_out,variant,poiter_event,visibleSoldOut,delay,gap,arrowGeneralClassName,arrowVariantClassName,align,headingDividerPadding,defaultClass,defaultForBottomClass,variantClass,custom_class,arrowTopGeneralClassName,arrowTopVariantClassName,contentXs,contentSm,contentMd,contentLg]>{% endcomment %}
    {% liquid
      if section.settings.VEDA_select_4 == 'link'
        assign defaultClass = ''
      else
        assign defaultClass = ' p:12px_20px bdrs:6px fz:14px'
      endif

      if section.settings.VEDA_select_3 == 'bottom'
        assign defaultForBottomClass = ' mt:30px'
      else
        assign defaultForBottomClass = ''
      endif

      case section.settings.VEDA_select_4
        when 'primary'
          assign variantClass = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
        when 'secondary'
          assign variantClass = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
        when 'dark'
          assign variantClass = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
        when 'gray'
          assign variantClass = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
        when 'light'
          assign variantClass = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
        else
          assign variantClass = ' c:color-gray9 c:color-primary|h'
      endcase

      assign custom_class = ''

      if _class
        assign custom_class = _class
      endif
    %}
    {% capture ViewAllBase %}
      <a
        {% if _component %}
          component="{{ _component }}"
        {% else %}

        {% endif %}
        class="d:inline-flex ai:center ff:font-primary fw:500 trs:0.3s{{ defaultForBottomClass }}{{ defaultClass }}{{ variantClass }} {{ custom_class }}"
        data-css="{{ null }}"
        {% if _default_link %}
          href="{{ _default_link }}"
        {% else %}
          href="{{ section.settings["button_view_all___link"] }}"
        {% endif %}
        {% if section.settings.VEDA_switch_6 %}
          target="_blank"
        {% endif %}
      >
        {% if section.settings.VEDA_switch_5 and 'right' == 'left' %}
          <span class="mr:10px" data-css="{{ null }}">{{ section.settings.VEDA_icon_3 }}</span>
        {% endif %}
        <span>
          {{ section.settings.button_view_all___text }}
        </span>
        {% if section.settings.VEDA_switch_5 and 'right' == 'right' %}
          <span class="ml:10px" data-css="{{ null }}">{{ section.settings.VEDA_icon_3 }}</span>
        {% endif %}
      </a>
    {% endcapture %}

    {% capture ViewAllTop %}
      {% if section.settings.button_view_all___enable and section.settings.VEDA_select_3 == 'top' %}
        <div class="d:none@+md flxs:0">
          {{ ViewAllBase }}
        </div>
      {% endif %}
    {% endcapture %}

    {% capture ViewAllBottom %}
      {% if section.settings.button_view_all___enable and section.settings.VEDA_select_3 == 'bottom' %}
        <div style="text-align: {{ "left" }}">
          {{ ViewAllBase }}
        </div>
      {% endif %}
      {% if section.settings.button_view_all___enable and section.settings.VEDA_select_3 == 'top' %}
        <div class="d:none@md mt:30px">
          {{ ViewAllBase }}
        </div>
      {% endif %}
    {% endcapture %}

    {% if 'bottom' == 'top' %}
      {{ ViewAllTop }}
    {% else %}
      {{ ViewAllBottom }}
    {% endif %}
    {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
  </div>
  {% if 'none' == 'video' and null %}
    <div data-veda-video="{{ null }}"></div>
  {% endif %}
  {% if null %}
    <div
      class="pos:absolute ins:0 z:-1"
      style="background-color: {{ null }};backdrop-filter: blur({{ null }}px)"
    ></div>
  {% endif %}
</section>
{% schema %}
{
  "name": "Recommendations 3",
  "blocks": [
    {
      "type": "heading_title",
      "name": "Heading > Title",
      "settings": [
        {
          "label": "Heading > Tag Name",
          "id": "heading___title_tag_name",
          "type": "select",
          "default": "h2",
          "options": [
            {
              "label": "H2",
              "value": "h2"
            },
            {
              "label": "H3",
              "value": "h3"
            },
            {
              "label": "H4",
              "value": "h4"
            },
            {
              "label": "H5",
              "value": "h5"
            },
            {
              "label": "H6",
              "value": "h6"
            }
          ]
        },
        {
          "label": "Heading > Title",
          "id": "heading___title",
          "type": "liquid",
          "default": "This is a title"
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_text",
      "name": "Heading > Text",
      "settings": [
        {
          "label": "Heading > Text",
          "id": "heading___text",
          "type": "liquid",
          "default": "<p>This is a text</p>"
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_divider",
      "name": "Heading > Divider",
      "settings": [
        {
          "label": "Heading > Divider",
          "id": "heading___divider",
          "type": "select",
          "default": "line",
          "options": [
            {
              "label": "Line",
              "value": "line"
            },
            {
              "label": "Wave",
              "value": "wave"
            },
            {
              "label": "Mountain",
              "value": "mountain"
            }
          ]
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_icon",
      "name": "Heading > Icon",
      "settings": [
        {
          "label": "Heading > Icon",
          "info": "[Get icon](https://fontawesome.com/v5/search)",
          "id": "heading___icon",
          "type": "html",
          "default": "<i class=\"far fa-atom\"></i>"
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_space",
      "name": "Heading > Space",
      "settings": [
        {
          "label": "Heading > Space",
          "id": "heading___space",
          "type": "number",
          "default": 20
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    }
  ],
  "settings": [
    {
      "label": "Slider Settings > Right",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "VEDA_icon_1",
      "type": "html",
      "default": "<i class=\"fal fa-angle-right\"></i>"
    },
    {
      "label": "Slider Settings > Left",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "VEDA_icon_2",
      "type": "html",
      "default": "<i class=\"fal fa-angle-left\"></i>"
    },
    {
      "label": "Slider Settings > Arrow Variant",
      "id": "VEDA_select_1",
      "type": "select",
      "default": "custom",
      "options": [
        {
          "label": "Custom",
          "value": "custom"
        },
        {
          "label": "Square Shadow",
          "value": "square_shadow"
        },
        {
          "label": "Square Border",
          "value": "square_border"
        },
        {
          "label": "Square Gray",
          "value": "square_gray"
        },
        {
          "label": "Circle Shadow",
          "value": "circle_shadow"
        },
        {
          "label": "Circle Border",
          "value": "circle_border"
        },
        {
          "label": "Circle Gray",
          "value": "circle_gray"
        }
      ]
    },
    {
      "label": "Slider Settings > Arrow Position",
      "id": "VEDA_select_2",
      "type": "select",
      "default": "middle",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Middle",
          "value": "middle"
        },
        {
          "label": "Middle Out",
          "value": "middle_out"
        },
        {
          "label": "Middle In",
          "value": "middle_in"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        }
      ]
    },
    {
      "label": "Slider Settings > Enable Arrow",
      "id": "VEDA_switch_1",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Slider Settings > Enable Pagination",
      "id": "VEDA_switch_2",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Slider Settings > Loop",
      "id": "slider_settings___loop",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Slider Settings > Delay (ms)",
      "id": "slider_settings___delay",
      "type": "number",
      "default": 4000
    },
    {
      "label": "Slider Settings > Auto Play",
      "id": "VEDA_switch_3",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Add To Cart > Icon",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "add_to_cart___icon",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "Add To Cart > Text",
      "id": "add_to_cart___text",
      "type": "liquid",
      "default": "Add To Cart"
    },
    {
      "label": "Add To Cart > Enable",
      "id": "add_to_cart___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Compare Action > Icon",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "compare_action___icon",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "Compare Action > Remove From Compare",
      "id": "compare_action___remove",
      "type": "liquid",
      "default": "Remove From Compare"
    },
    {
      "label": "Compare Action > Add To Compare",
      "id": "compare_action___add",
      "type": "liquid",
      "default": "Add To Compare"
    },
    {
      "label": "Compare Action > Enable",
      "id": "compare_action___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Wishlist Action > Icon",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "wish_list_action___icon",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "Wishlist Action > Remove From Wishlist",
      "id": "VEDA_text_1",
      "type": "liquid",
      "default": "Remove From Wishlist"
    },
    {
      "label": "Wishlist Action > Add To Wishlist",
      "id": "wish_list_action___add",
      "type": "liquid",
      "default": "Add To Wishlist"
    },
    {
      "label": "Wishlist Action > Enable",
      "id": "VEDA_switch_4",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Quick View > Icon",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "quick_view___icon",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "Quick View > View Detail",
      "id": "quick_view___view_detail",
      "type": "liquid",
      "default": "View Detail"
    },
    {
      "label": "Quick View > Quantity",
      "id": "quick_view___quantity",
      "type": "liquid",
      "default": "Quantity"
    },
    {
      "label": "Quick View > Quick View",
      "id": "VEDA_text_2",
      "type": "liquid"
    },
    {
      "label": "Quick View > Enable",
      "id": "quick_view___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "View All Button > Choose",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "VEDA_icon_3",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "View All Button > Enable",
      "id": "VEDA_switch_5",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "View All Button > Position",
      "id": "VEDA_select_3",
      "type": "select",
      "default": "bottom",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        }
      ]
    },
    {
      "label": "View All Button > Variant",
      "id": "VEDA_select_4",
      "type": "select",
      "default": "link",
      "options": [
        {
          "label": "Link",
          "value": "link"
        },
        {
          "label": "Primary",
          "value": "primary"
        },
        {
          "label": "Secondary",
          "value": "secondary"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Gray",
          "value": "gray"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ]
    },
    {
      "label": "View All Button > Link",
      "id": "button_view_all___link",
      "type": "text"
    },
    {
      "label": "View All Button > Open In New Tab",
      "id": "VEDA_switch_6",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "View All Button > Text",
      "id": "button_view_all___text",
      "type": "liquid",
      "default": "View All"
    },
    {
      "label": "View All Button > Enable",
      "id": "button_view_all___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Sold Out > Text",
      "id": "sold_out___text",
      "type": "liquid",
      "default": "Text"
    },
    {
      "label": "Sold Out > Enable",
      "id": "sold_out___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "New > Text",
      "id": "new___text",
      "type": "liquid",
      "default": "New"
    },
    {
      "label": "New > Enable",
      "id": "new___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Sale > Text",
      "id": "sale___text",
      "type": "liquid",
      "default": "Text"
    },
    {
      "label": "Sale > Enable",
      "id": "sale___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Product Settings > Image Border Radius",
      "id": "VEDA_slider_1",
      "type": "number"
    },
    {
      "label": "Product Settings > Aspect Ratio",
      "id": "VEDA_slider_2",
      "type": "number",
      "default": 130
    },
    {
      "label": "Product Settings > Enable Color",
      "id": "VEDA_switch_7",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Product Settings > Enable Vendor",
      "id": "VEDA_switch_8",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Product Settings > Limit",
      "id": "product_settings___limit",
      "type": "number",
      "default": 8
    },
    {
      "label": "Section Settings > Separator Bottom",
      "id": "VEDA_slider_3",
      "type": "number"
    },
    {
      "label": "Section Settings > Separator Top",
      "id": "VEDA_slider_4",
      "type": "number"
    },
    {
      "label": "Section Settings > Enable Separator",
      "id": "VEDA_switch_9",
      "type": "checkbox",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "VEDA_image_1",
      "label": "Background Image"
    },
    {
      "label": "Section Settings > Column Gap",
      "id": "VEDA_slider_5",
      "type": "number"
    },
    {
      "label": "Section Settings > Container Gap",
      "id": "VEDA_slider_6",
      "type": "number"
    },
    {
      "label": "Section Settings > Width",
      "id": "section_settings___width",
      "type": "number"
    },
    {
      "label": "Section Settings > Container Width",
      "id": "VEDA_select_5",
      "type": "select",
      "default": "boxed",
      "options": [
        {
          "label": "Boxed",
          "value": "boxed"
        },
        {
          "label": "Full Width",
          "value": "full_width"
        },
        {
          "label": "Manual",
          "value": "manual"
        }
      ]
    }
  ],
  "tag": "div",
  "presets": [
    {
      "name": "Recommendations 3",
      "blocks": [
        {
          "type": "heading_title"
        },
        {
          "type": "heading_space"
        }
      ]
    }
  ]
}
{% endschema %}
