{% assign uniqueId = 'id_698bda23-62fc-490e-9ec2-b842b986b3fb' %}
{% assign builderMode = false %}
{% assign envatoMode = true %}
{% liquid
  if section.settings.background_type == 'color'
    assign opacity = section.settings.background_opacity | times: 0.01
    assign modifyBackground = section.settings.background_color | color_modify: 'alpha', opacity
    assign backgroundColor = 'background-color: ' | append: modifyBackground | append: ';'
  else
    assign backgroundColor = ''
  endif

  assign bgImage = section.settings.background_image.src | image_url: width: 10

  if section.settings.background_type == 'image'
    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: 'scroll' | append: ';background-size: ' | append: section.settings.background_size | append: ';'
  else
    assign backgroundImage = ''
  endif

  assign sectionPadding = 'padding-top: ' | append: 15 | append: 'px;padding-right: ' | append: 15 | append: 'px;padding-bottom: ' | append: 15 | append: 'px;padding-left: ' | append: 15 | append: 'px;'

  if builderMode and envatoMode
  endif
%}

{% liquid
  assign _data_confirm_message = false

  assign _data_target = false

  assign _aria_label = false

  assign _data_index = false

  assign _data_form_active = false

  assign _form = false

  assign _name = false

  assign _id = false

  assign _tooltip_position = false

  assign _tooltip_text = false

  assign _data_button_video_id = false
%}

<a
  data-id="{{ uniqueId }}"
  href="{{ section.settings.button_link }}"
  {% if section.settings.new_tab %}
    target="_blank"
  {% endif %}
  class="veda-lazyload d:block pos:relative z:1 bgz:cover bgp:center"
  style="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}"
>
  <div class="d:flex ai:center jc:center ta:center">
    <div class="pl:20px pr:20px fz:16px c:color-gray8" data-css="{{ "css_1789800329" }}">
      {{ section.settings.message }}
    </div>
    {% if section.settings.button___enable %}
      {% comment %}<BẮT_ĐẦU_TÁCH_FILE_2:[section,backgroundColor,bgImage,backgroundImage,sectionPadding,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,default_class,default_for_bottom_class,variant_class]>{% endcomment %}
      {% liquid
        if section.settings.button___variant == 'link'
          assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 bd:0 bxsh:none p:0 bg:none cur:pointer trs:0.3s '
        else
          assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s p:13px_20px bd:none bxsh:none o:none cur:pointer '
        endif

        assign default_for_bottom_class = ''

        case section.settings.button___variant
          when 'primary'
            assign variant_class = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
          when 'secondary'
            assign variant_class = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
          when 'dark'
            assign variant_class = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
          when 'gray'
            assign variant_class = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
          when 'light'
            assign variant_class = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
          else
            assign variant_class = ' c:color-gray9 c:color-primary|h'
        endcase
      %}

      <span
        type="{{ 'button' }}"
        component="{{ 'button' }}"
        class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }} {{ 'p:6px_15px! bdrs:3px' }}"
        data-css="{{ "css_3422187993" }}"
      >
        <span>
          {{ section.settings.button___text }}
        </span>
	      {% if section.settings.button___choose_icon != _blank %}
          <span
            {% if section.settings.button___text != '' %}
              {% if '' %}
                class="ml:10px {{ '' }}"
              {% else %}
                class="ml:10px"
              {% endif %}
            {% elsif '' %}
              class="{{ '' }}"
            {% endif %}
            
          >
            {{ section.settings.button___choose_icon }}
          </span>
        {% endif %}
      </span>
      {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
    {% endif %}
  </div>
</a>
{% schema %}
{
	"name": "Announcement Bar 1",
	"blocks": [],
	"settings": [
		{
			"label": "Toggle Buy Now Button",
			"id": "button___enable",
			"type": "checkbox",
			"default": true
		},
		{
			"label": "Button Icon",
			"info": "[Get icon](https://fontawesome.com/v5/search)",
			"id": "button___choose_icon",
			"type": "html",
			"default": "<i class=\"far fa-atom\"></i>"
		},
		{
			"label": "Button Variant",
			"id": "button___variant",
			"type": "select",
			"default": "link",
			"options": [
				{
					"label": "Link",
					"value": "link"
				},
				{
					"label": "Primary",
					"value": "primary"
				},
				{
					"label": "Secondary",
					"value": "secondary"
				},
				{
					"label": "Dark",
					"value": "dark"
				},
				{
					"label": "Gray",
					"value": "gray"
				},
				{
					"label": "Light",
					"value": "light"
				}
			]
		},
		{
			"label": "Button Text",
			"id": "button___text",
			"info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
			"type": "text",
			"default": "Buy Now!"
		},
		{
			"label": "Link",
			"id": "button_link",
			"type": "url"
		},
		{
			"label": "Open In New Tab",
			"id": "new_tab",
			"type": "checkbox",
			"default": false
		},
		{
			"label": "Message",
			"info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
			"id": "message",
			"type": "liquid",
			"default": "<p>Anniversary sales: up to $50 OFF</p>"
		},
		{
			"label": "Background Type",
			"id": "background_type",
			"type": "select",
			"default": "color",
			"options": [
				{
					"label": "None",
					"value": "none"
				},
				{
					"label": "Color",
					"value": "color"
				},
				{
					"label": "Image",
					"value": "image"
				}
			]
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Background Image"
		},
		{
			"label": "Background Fixed",
			"id": "background_fixed",
			"type": "checkbox",
			"default": true
		},
		{
			"label": "Background Size",
			"id": "background_size",
			"type": "select",
			"default": "cover",
			"options": [
				{
					"label": "Cover",
					"value": "cover"
				},
				{
					"label": "Contain",
					"value": "contain"
				}
			]
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color",
			"default": "#64C4A2"
		},
		{
			"type": "range",
			"id": "background_opacity",
			"min": 0,
			"unit": "%",
			"max": 100,
			"step": 1,
			"label": "Opacity",
			"default": 100
		}
	],
	"tag": "div",
	"presets": [
		{
			"name": "Announcement Bar 1",
			"blocks": []
		}
	]
}
{% endschema %}
