{% assign uniqueId = 'id_141bc910-704e-46d3-a876-990c1bd1d6a7' %}
{% assign builderMode = false %}
{% assign envatoMode = true %}
{% liquid
	if section.settings.VEDA_switch_5
		assign backgroundFixed = 'fixed'
	else
		assign backgroundFixed = 'scroll'
	endif
	
	if section.settings.VEDA_select_5 == 'color'
		assign opacity = section.settings.background_opacity | times: 0.01
		assign modifyBackground = section.settings.background_color | color_modify: 'alpha', opacity
		assign backgroundColor = 'background-color: ' | append: modifyBackground | append: ';'
	else
		assign backgroundColor = ''
	endif
	
	if section.settings.VEDA_select_5 == 'image' and section.settings.VEDA_image_1.src
		assign bgImage = section.settings.VEDA_image_1.src | image_url: width: 2000
		
		assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_4 | append: ';'
	elsif section.settings.VEDA_select_5 == 'image' and section.settings.VEDA_image_1.src == blank
		assign bgImage = 'https://cdn.shopify.com/s/files/1/0552/5510/5616/files/udxhtnzxtq.png?v=1681903122&width=1000'
		
		assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_4 | append: ';'
	else
		assign backgroundImage = ''
	endif
	
	if section.settings.VEDA_select_6 == 'full_width'
		assign containerType = 'container-fluid'
	else
		assign containerType = 'container'
	endif
	
	if section.settings.VEDA_slider_10 >= 0
		assign containerGap = 'padding-left: ' | append: section.settings.VEDA_slider_10 | append: 'px; padding-right: ' | append: section.settings.VEDA_slider_10 | append: 'px;'
	else
		assign containerGap = ''
	endif
	
	if section.settings.section_settings___width >= 0
		assign containerWidth = 'max-width: ' | append: section.settings.section_settings___width | append: 'px;'
	else
		assign containerWidth = ''
	endif
	
	assign _prefix = false
	
	assign _alt = false
	
	assign _style = false
	
	assign _placeholder = false
	
	assign _placeholder_class = false
	
	assign _class = false
%}

{% capture Logo %}
	<a
		href="/"
		aria-label="{{ shop.name }}"
		class="d:block pos:relative h:30px"
		style="height: {{ section.settings["logo___height"] }}px"
	>
		{% comment %}<BẮT_ĐẦU_TÁCH_FILE_1:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_prefix,_alt,_style,_placeholder,_placeholder_class,_class]>{% endcomment %}
		{% if section.settings.logo___image.src != blank %}
			<img
				class="veda-lazyload {{ 'w:auto maw:none h:100%' }}"
				src="{{ section.settings["logo___image"].src | image_url: width: 10 }}"
				draggable="false"
				{% if _alt %}
					alt="{{ _alt }}"
				{% else %}
					alt="image"
				{% endif %}
				{% if section.settings.logo___image.width %}
					data-intrinsic-width="{{ section.settings["logo___image"].width }}"
					width="{{ section.settings["logo___image"].width }}"
				{% endif %}
				{% if section.settings.logo___image.height %}
					height="{{ section.settings["logo___image"].height }}"
					data-intrinsic-height="{{ section.settings["logo___image"].height }}"
				{% endif %}
				{% if _style %}
					style="{{ _style }}"
				{% endif %}
				loading="lazy"
			>
		{% else %}
			{% liquid
				assign pl = 'lifestyle-1'
				
				if _placeholder
					assign pl = _placeholder
				endif
				
				assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2 ' | append: 'w:auto maw:none h:100%'
				
				if _placeholder_class
					assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2 ' | append: _placeholder_class
				endif
			%}
			{{ pl | placeholder_svg_tag: placeholder_class }}
		{% endif %}
		{% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
	</a>
{% endcapture %}

{% capture Navigation %}
	{% if envatoMode %}
		{% comment %}<BẮT_ĐẦU_TÁCH_FILE_2:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_prefix,_alt,_style,_placeholder,_placeholder_class,_class,pl,placeholder_class]>{% endcomment %}
		{% if section.settings.menu != blank %}
			<ul class="veda-nav__menu {{ 'd:flex ai:center p:0 m:0 pl:30px! ls:none' }}">
				{% for link in section.settings.menu.links %}
					<li class="veda-nav__list-item pos:relative">
						<a
							class="veda-nav__link {{ 'd:flex ai:center pos:relative w:100% p:0_20px h:60px ff:font-secondary fz:13px fw:500 tt:uppercase c:color-gray9 cur:pointer trs:0.3s' }}"
							href="{{ link.url }}"
							{% if link.current %}
								aria-current="page"
							{% endif %}
						>
              <span
                {% if link.current %}
	                class="c:color-primary"
                {% endif %}
              >
                <span>
                  {{ link.title }}
                </span>
              </span>
							{% if link.links != blank %}
								<span class="veda-nav__arrow ml:5px fz:18px"><i class="fal fa-angle-down"></i></span>
							{% endif %}
						</a>
						{% if link.links != blank %}
							<ul class="veda-nav__sub-list {{ 'pos:absolute t:100% l:0 w:200px m:0! p:0! bd:1px_solid_color-gray2 trs:0.3s bgc:color-light ls:none z:999' }}">
								{% for childlink in link.links %}
									<li class="veda-nav__list-item {{ 'pos:relative bdb:1px_solid_color-gray2 bdb:0|lc' }}">
										<a
											class="veda-nav__link {{ 'pos:relative w:100% d:flex ai:center jc:space-between h:40px p:0_13px ff:font-secondary fz:14px fw:400 c:color-gray7 c:color-primary|h trs:0.3s' }}"
											href="{{ childlink.url }}"
											{% if childlink.current %}
												aria-current="page"
											{% endif %}
										>
                      <span
                        {% if childlink.current %}
	                        class="c:color-primary"
                        {% endif %}
                      >
                        <span>
                          {{ childlink.title }}
                        </span>
                      </span>
											{% if childlink.links != blank %}
												<span class="veda-nav__arrow ml:5px fz:18px"><i class="fal fa-angle-down"></i></span>
											{% endif %}
										</a>
										{% if childlink.links != blank %}
											<ul class="veda-nav__sub-list {{ 'pos:absolute t:-1px l:100% p:0! m:0! w:200px bd:1px_solid_color-gray2 trs:0.3s bgc:color-light ls:none z:999' }}">
												{% for grandchildlink in childlink.links %}
													<li class="veda-nav__list-item {{ 'bdb:1px_solid_color-gray2 bdb:0|lc' }}">
														<a
															class="veda-nav__link {{ 'pos:relative w:100% d:flex ai:center h:40px p:0_13px ff:font-secondary fz:14px fw:400 c:color-gray7 c:color-primary|h trs:0.3s' }}"
															href="{{ grandchildlink.url }}"
															{% if grandchildlink.current %}
																aria-current="page"
															{% endif %}
														>
                              <span
                                {% if grandchildlink.current %}
	                                class="c:color-primary"
                                {% endif %}
                              >
                                <span>
                                  {{ grandchildlink.title }}
                                </span>
                              </span>
														</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<ul class="veda-nav__menu {{ 'd:flex ai:center p:0 m:0 pl:30px! ls:none' }}">
				<li class="veda-nav__list-item pos:relative">
					<a
						class="veda-nav__link {{ 'd:flex ai:center pos:relative w:100% p:0_20px h:60px ff:font-secondary fz:13px fw:500 tt:uppercase c:color-gray9 cur:pointer trs:0.3s' }}"
						aria-current="page"
					>
            <span class="c:color-primary">
              <span> Home </span>
            </span>
					</a>
				</li>
				<li class="veda-nav__list-item pos:relative">
					<a class="veda-nav__link {{ 'd:flex ai:center pos:relative w:100% p:0_20px h:60px ff:font-secondary fz:13px fw:500 tt:uppercase c:color-gray9 cur:pointer trs:0.3s' }}">
            <span>
              <span> Menu item 1 </span>
            </span>
					</a>
				</li>
				<li class="veda-nav__list-item pos:relative">
					<a class="veda-nav__link {{ 'd:flex ai:center pos:relative w:100% p:0_20px h:60px ff:font-secondary fz:13px fw:500 tt:uppercase c:color-gray9 cur:pointer trs:0.3s' }}">
            <span>
              <span> Menu item 2 </span>
            </span>
					</a>
				</li>
			</ul>
		{% endif %}
		{% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
	{% else %}
		<ul class="veda-nav__menu d:flex ai:center p:0 m:0 pl:30px! ls:none">
			<li class="veda-nav__list-item pos:relative">
				<a
					class="veda-nav__link d:flex ai:center pos:relative w:100% p:0_20px h:60px ff:font-secondary fz:13px fw:500 tt:uppercase c:color-gray9 cur:pointer trs:0.3s"
					href="/"
					data-css=""
				>
          <span>
            <span class="pos:relative"> Home </span>
          </span>
				</a>
			</li>
			<li class="veda-nav__list-item pos:relative">
				<a
					class="veda-nav__link d:flex ai:center pos:relative w:100% p:0_20px h:60px ff:font-secondary fz:13px fw:500 tt:uppercase c:color-gray9 cur:pointer trs:0.3s"
					href=""
					data-css=""
				>
          <span>
            <span class="pos:relative"> Pages </span>
          </span>
					<span class="veda-nav__arrow ml:5px fz:18px"><i class="fal fa-angle-down"></i></span>
				</a>
				<ul class="veda-nav__sub-list pos:absolute t:100% l:0 w:200px m:0! p:0! bd:1px_solid_color-gray2 trs:0.3s bgc:color-light ls:none z:999">
					<li class="veda-nav__list-item pos:relative bdb:1px_solid_color-gray2 bdb:0|lc">
						<a
							class="veda-nav__link pos:relative w:100% d:flex ai:center jc:space-between h:40px p:0_13px ff:font-secondary fz:14px fw:400 c:color-gray7 c:color-primary|h trs:0.3s"
							href="/collections/all"
							data-css=""
						>
              <span>
                <span class="pos:relative"> Collections </span>
              </span>
						</a>
					</li>
					<li class="veda-nav__list-item pos:relative bdb:1px_solid_color-gray2 bdb:0|lc">
						<a
							class="veda-nav__link pos:relative w:100% d:flex ai:center jc:space-between h:40px p:0_13px ff:font-secondary fz:14px fw:400 c:color-gray7 c:color-primary|h trs:0.3s"
							href="/products/short-sleeve-cropped-t-shirt"
							data-css=""
						>
              <span>
                <span class="pos:relative"> Product </span>
              </span>
						</a>
					</li>
					<li class="veda-nav__list-item pos:relative bdb:1px_solid_color-gray2 bdb:0|lc">
						<a
							class="veda-nav__link pos:relative w:100% d:flex ai:center jc:space-between h:40px p:0_13px ff:font-secondary fz:14px fw:400 c:color-gray7 c:color-primary|h trs:0.3s"
							href="/blogs/news"
							data-css=""
						>
              <span>
                <span class="pos:relative"> Blog </span>
              </span>
						</a>
					</li>
					<li class="veda-nav__list-item pos:relative bdb:1px_solid_color-gray2 bdb:0|lc">
						<a
							class="veda-nav__link pos:relative w:100% d:flex ai:center jc:space-between h:40px p:0_13px ff:font-secondary fz:14px fw:400 c:color-gray7 c:color-primary|h trs:0.3s"
							href="/pages/soleed-wishlist"
							data-css=""
						>
              <span>
                <span class="pos:relative"> Wishlist </span>
              </span>
						</a>
					</li>
					<li class="veda-nav__list-item pos:relative bdb:1px_solid_color-gray2 bdb:0|lc">
						<a
							class="veda-nav__link pos:relative w:100% d:flex ai:center jc:space-between h:40px p:0_13px ff:font-secondary fz:14px fw:400 c:color-gray7 c:color-primary|h trs:0.3s"
							href="/cart"
							data-css=""
						>
              <span>
                <span class="pos:relative"> Cart </span>
              </span>
						</a>
					</li>
				</ul>
			</li>
			<li class="veda-nav__list-item veda-nav__list-item--has-megamenu">
				<a
					class="veda-nav__link d:flex ai:center pos:relative w:100% p:0_20px h:60px ff:font-secondary fz:13px fw:500 tt:uppercase c:color-gray9 cur:pointer trs:0.3s"
					href="/collections/all"
					data-css=""
				>
          <span>
            <span class="pos:relative"> Collection </span>
          </span>
					<span class="veda-nav__arrow ml:5px fz:18px"><i class="fal fa-angle-down"></i></span>
				</a>
				<ul class="veda-nav__sub-list veda-nav__sub-list--megamenu pos:absolute t:100% l:0 z:999 w:100% trs:0.3s p:0!">
					<li class="veda-nav__list-item pos:relative bdb:1px_solid_color-gray2 bdb:0|lc">
						<div class="veda-nav__megamenu"></div>
					</li>
				</ul>
			</li>
			<li class="veda-nav__list-item veda-nav__list-item--has-megamenu">
				<a
					class="veda-nav__link d:flex ai:center pos:relative w:100% p:0_20px h:60px ff:font-secondary fz:13px fw:500 tt:uppercase c:color-gray9 cur:pointer trs:0.3s"
					href="#"
					data-css=""
				>
          <span>
            <span class="pos:relative"> Mega Menu </span>
          </span>
					<span class="veda-nav__arrow ml:5px fz:18px"><i class="fal fa-angle-down"></i></span>
				</a>
				<ul class="veda-nav__sub-list veda-nav__sub-list--megamenu pos:absolute t:100% l:0 z:999 w:100% trs:0.3s p:0!">
					<li class="veda-nav__list-item pos:relative bdb:1px_solid_color-gray2 bdb:0|lc">
						<div class="veda-nav__megamenu"></div>
					</li>
				</ul>
			</li>
			<li class="veda-nav__list-item pos:relative">
				<a
					class="veda-nav__link d:flex ai:center pos:relative w:100% p:0_20px h:60px ff:font-secondary fz:13px fw:500 tt:uppercase c:color-gray9 cur:pointer trs:0.3s"
					href="pages/blog"
					data-css=""
				>
          <span>
            <span class="pos:relative"> Blog </span>
          </span>
				</a>
			</li>
			<li class="veda-nav__list-item pos:relative">
				<a
					class="veda-nav__link d:flex ai:center pos:relative w:100% p:0_20px h:60px ff:font-secondary fz:13px fw:500 tt:uppercase c:color-gray9 cur:pointer trs:0.3s"
					href="#"
					data-css=""
				>
          <span>
            <span class="pos:relative"> Dropdown </span>
          </span>
					<span class="veda-nav__arrow ml:5px fz:18px"><i class="fal fa-angle-down"></i></span>
				</a>
				<ul class="veda-nav__sub-list pos:absolute t:100% l:0 w:200px m:0! p:0! bd:1px_solid_color-gray2 trs:0.3s bgc:color-light ls:none z:999">
					<li class="veda-nav__list-item pos:relative bdb:1px_solid_color-gray2 bdb:0|lc">
						<a
							class="veda-nav__link pos:relative w:100% d:flex ai:center jc:space-between h:40px p:0_13px ff:font-secondary fz:14px fw:400 c:color-gray7 c:color-primary|h trs:0.3s"
							href="#"
							data-css=""
						>
              <span>
                <span class="pos:relative"> New Item </span>
              </span>
						</a>
					</li>
					<li class="veda-nav__list-item pos:relative bdb:1px_solid_color-gray2 bdb:0|lc">
						<a
							class="veda-nav__link pos:relative w:100% d:flex ai:center jc:space-between h:40px p:0_13px ff:font-secondary fz:14px fw:400 c:color-gray7 c:color-primary|h trs:0.3s"
							href="#"
							data-css=""
						>
              <span>
                <span class="pos:relative"> New Item </span>
              </span>
							<span class="veda-nav__arrow ml:5px fz:18px"><i class="fal fa-angle-right"></i></span>
						</a>
						
						<ul class="veda-nav__sub-list pos:absolute t:-1px l:100% p:0! m:0! w:200px bd:1px_solid_color-gray2 trs:0.3s bgc:color-light ls:none z:999">
							<li class="veda-nav__list-item bdb:1px_solid_color-gray2 bdb:0|lc">
								<a
									class="veda-nav__link pos:relative w:100% d:flex ai:center h:40px p:0_13px ff:font-secondary fz:14px fw:400 c:color-gray7 c:color-primary|h trs:0.3s"
									href="#"
									data-css=""
								>
                  <span>
                    <span class="pos:relative"> New Item </span>
                  </span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	{% endif %}
{% endcapture %}

{% capture Actions %}
	<div class="h:100% d:flex jc:flex-end ai:center fz:18px c:color-gray9">
		{% comment %}CẢNH BÁO: Các field settings đã bị cắt vợi đi để pass qua shopify theme check => Các item sẽ trở thành y hệt nhau về một số thứ => Check code để fix css sao cho giống với theme demo => Ví dụ mỗi item đều có field color picker để setup background. Item 1 màu xanh, Item 2 màu đỏ => Sync ở chế độ cắt vợi đi thì cả 2 Item sẽ thành màu xanh => Sai với theme demo => Cần fix{% endcomment %}
		
		{% for block in section.blocks %}
			{% assign action = block.settings %}
			{% if block.type == 'right_actions_wishlist' %}
				<a
					href="{{ action.right_actions___link }}"
					{% if action.right_actions___new_tab %}
						target="_blank"
					{% endif %}
					class="veda-wishlist-badge-toggle-js lh:normal p:0_5px c:color-gray9 c:color-primary|h trs:0.3s"
					data-css="{{ null }}"
				>
					<div class="pos:relative d:inline-block">
						<i class="far fa-heart"></i>
						<div
							class="veda-wishlist-badge-js lh:normal d:none! jc:center ai:center c:color-light-freeze pos:absolute t:-4px r:-8px miw:16px h:16px fz:9px bdrs:8px bgc:#eb4747 fw:500 pl:2px pr:2px"
							data-css="{{ null }}"
						></div>
					</div>
				</a>
			{% elsif block.type == 'right_actions_compare' %}
				<div
					class="veda-compare-toggle-js p:0_5px c:color-gray9 c:color-primary|h trs:0.3s cur:pointer"
					data-css="{{ null }}"
					data-options="
              {
                compareOptionsTitle: '{{ action.VEDA_tags_1 }}',
              }
            "
				>
					<div class="pos:relative d:inline-block">
						<i class="far fa-repeat"></i>
						<div
							class="veda-compare-badge-js d:none! jc:center ai:center c:color-light-freeze pos:absolute t:-4px r:-8px miw:16px h:16px fz:9px bdrs:8px bgc:#eb4747 fw:500 pl:2px pr:2px"
							data-css="{{ null }}"
						></div>
					</div>
				</div>
			{% elsif block.type == 'right_actions_search' %}
				<span
					data-css="{{ null }}"
					class="btn-search-js p:0_5px cur:pointer c:color-gray9 c:color-primary|h trs:0.3s"
				>
            <i class="far fa-search"></i>
          </span>
			{% elsif block.type == 'right_actions_link' %}
				{% if action.right_actions___link %}
					<a
						href="{{ action.right_actions___link }}"
						{% if action.right_actions___new_tab %}
							target="_blank"
						{% endif %}
						data-css="{{ null }}"
						class="p:0_5px cur:pointer c:color-gray9 c:color-primary|h trs:0.3s"
					>
						{{ action.right_actions___icon }}
					</a>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
{% endcapture %}

{% capture LanguageAndCurrency %}
	{% comment %}CẢNH BÁO: Các field settings đã bị cắt vợi đi để pass qua shopify theme check => Các item sẽ trở thành y hệt nhau về một số thứ => Check code để fix css sao cho giống với theme demo => Ví dụ mỗi item đều có field color picker để setup background. Item 1 màu xanh, Item 2 màu đỏ => Sync ở chế độ cắt vợi đi thì cả 2 Item sẽ thành màu xanh => Sai với theme demo => Cần fix{% endcomment %}
	
	{% for block in section.blocks %}
		{% assign lcItem = block.settings %}
		
			{% if block.type == 'VEDA_array_1' %}
				<div
					{% if builderMode %}
						data-tooltip-position="right"
						data-tooltip-text="When you use the editor this data will be fake"
					{% endif %}
				>
					{% liquid
						assign localization_id = 'localization_form_' | append: uniqueId
					%}
					{% form 'localization', id: localization_id, class: 'localization_form' %}
						<input type="hidden" name="locale_code" value="{{ form.current_locale.iso_code }}">
						<div class="veda-select veda-select-lang">
							<div
								data-css="{{ null }}"
								class="veda-select__view c:color-gray8 d:flex ai:center jc:space-between bd:0! p:5px_0! fz:13px ff:font-secondary"
							>
								<div class="veda-select__label"></div>
								<span class="pt:2px pl:4px">{{ lcItem.VEDA_icon_1 }}</span>
							</div>
							<div
								data-css="{{ null }}"
								class="veda-select__options bgc:color-light w:fit-content! bxsh:0_5px_15px_color-gray9.2 bdrs:5px ov:hidden bd:0! p:10px_0"
							>
								{% for language in localization.available_languages %}
									{% liquid
										assign defaultClass = 'veda-select__option whs:nowrap bd:0! ff:font-secondary fz:13px p:5px_15px bgc:transparent trs:0.3s'
									%}
									<div
										data-value="{{ language.iso_code }}"
										{% if language.iso_code == localization.language.iso_code %}
											{% if builderMode %}
												class="{{ defaultClass }}"
											{% else %}
												class="{{ defaultClass }} c:color-primary"
											{% endif %}
											data-selected="selected"
										{% else %}
											class="{{ defaultClass }} c:color-primary|h"
										{% endif %}
									>
										{{ language.endonym_name }}
									</div>
								{% endfor %}
							</div>
						</div>
					{% endform %}
				</div>
			{% elsif block.type == 'VEDA_array_2' %}
				{% liquid
					assign currencySize = shop.enabled_currencies | size
				%}
				{% if currencySize > 1 %}
					<div
						{% if builderMode %}
							data-tooltip-position="right"
							data-tooltip-text="When you use the editor this data will be fake"
						{% endif %}
					>
						{% liquid
							assign currency_id = 'currency_form_' | append: uniqueId
						%}
						{% form 'localization', id: currency_id, class: 'currency_form' %}
							<input
								type="hidden"
								name="currency_code"
								value="{{ form.current_currency.iso_code }}"
							>
							<div class="veda-select veda-select-currency">
								<div
									data-css="{{ null }}"
									class="veda-select__view c:color-gray8 d:flex ai:center jc:space-between bd:0! p:5px_0! fz:13px ff:font-secondary"
								>
									{% if builderMode %}
										<span class="mr:5px flag flag-USD"></span>
										<div class="veda-select__label">USD</div>
									{% else %}
										<span class="mr:5px flag flag-{{ form.current_currency.iso_code }}"></span>
										<div class="veda-select__label">{{ form.current_currency.iso_code }}</div>
									{% endif %}
									<span class="pt:2px pl:4px">{{ lcItem.VEDA_icon_1 }}</span>
								</div>
								<div
									data-css="{{ null }}"
									class="veda-select__options bgc:color-light w:fit-content! bxsh:0_5px_15px_color-gray9.2 bdrs:5px ov:hidden bd:0! p:10px_0"
								>
									{% for currency in shop.enabled_currencies %}
										<div
											data-value="{{ currency.iso_code }}"
											{% if form.current_currency.iso_code == currency.iso_code %}
												class="veda-select__option whs:nowrap bd:0! ff:font-secondary fz:13px p:5px_15px d:flex ai:center bgc:transparent trs:0.3s c:color-primary"
												data-selected="selected"
											{% elsif builderMode and currency.iso_code == 'USD' %}
												class="veda-select__option whs:nowrap bd:0! ff:font-secondary fz:13px p:5px_15px d:flex ai:center bgc:transparent trs:0.3s c:color-primary|h"
												data-selected="selected"
											{% else %}
												class="veda-select__option whs:nowrap bd:0! ff:font-secondary fz:13px p:5px_15px d:flex ai:center bgc:transparent trs:0.3s c:color-primary|h"
											{% endif %}
										>
											<span class="mr:5px flag flag-{{ currency.iso_code }}"></span>
											{{ currency.iso_code }}
										</div>
									{% endfor %}
								</div>
							</div>
						{% endform %}
					</div>
				{% endif %}
			{% elsif block.type == 'VEDA_array_3' %}
				<a
					class="c:color-light-freeze"
					data-css="{{ null }}"
					href="{{ lcItem.VEDA_linkPicker_1 }}"
				>
					{% if lcItem.VEDA_switch_2 %}
						<span class="mr:5px">{{ lcItem.VEDA_icon_2 }}</span>
					{% endif %}
					<span>{{ lcItem.VEDA_text_2 }}</span>
				</a>
			{% elsif block.type == 'VEDA_array_4' %}
				<div
					class="d:flex jc:center"
					style="width: {{ lcItem.VEDA_slider_3 }}px; height: {{ lcItem.VEDA_slider_2 }}px"
				>
					{% if lcItem.VEDA_select_2 == 'line' %}
						<div class="h:100% w:1px" style="background-color: {{ "#f3f3f3" }}"></div>
					{% endif %}
				</div>
			{% endif %}
	{% endfor %}
{% endcapture %}

{% capture Topbar %}
	<div data-css="{{ null }}" class="bdb:1px_solid_color-gray2">
		<div
			class="pl:15px@+md! pr:15px@+md! {{ containerType }}"
			{% if section.settings.VEDA_slider_10
			or section.settings.VEDA_slider_10 == 0
			or section.settings.section_settings___width
			or section.settings.section_settings___width == 0
			%}
				style="{{ containerGap }}{{ containerWidth }}"
			{% endif %}
		>
			<div class="pos:relative d:flex ai:center jc:space-between pt:10px pb:10px">
				<div class="d:flex ai:center w:33.3333%@md">
					{{ LanguageAndCurrency }}
				</div>
				<div
					class="d:none@+md ta:center c:color-gray9 c:color-primary*a ff:font-secondary w:33.3333%@md"
					data-css="{{ null }}"
				>
					{{ section.settings.announcement_bar___text }}
				</div>
				<div class="social-js w:33.3333%@md d:flex ai:center jc:flex-end">
					<div class="d:inline-block"></div>
					{% comment %}CẢNH BÁO: Các field settings đã bị cắt vợi đi để pass qua shopify theme check => Các item sẽ trở thành y hệt nhau về một số thứ => Check code để fix css sao cho giống với theme demo => Ví dụ mỗi item đều có field color picker để setup background. Item 1 màu xanh, Item 2 màu đỏ => Sync ở chế độ cắt vợi đi thì cả 2 Item sẽ thành màu xanh => Sai với theme demo => Cần fix{% endcomment %}
					
					{% for block in section.blocks %}
						{% if block.type == 'socials' %}
							{% assign social = block.settings %}
							
							<a
								class="p:4px_6px c:color-gray9 c:color-gray7|h trs:0.3s"
								data-css="{{ null }}"
								target="_blank"
								href="{{ social.socials___link }}"
								data-tooltip-text="{{ social.socials___label }}"
								data-tooltip-position="bottom"
								style="--tooltip-radius: 5px"
							>
								<span class="fz:16px">{{ social.socials___icon }}</span>
							</a>
						{% endif %}
					{% endfor %}
					<div class="d:inline-block"></div>
				</div>
			</div>
		</div>
	</div>
{% endcapture %}

{% capture Content %}
	<div
		{% if section.settings.navigation___sticky %}
			class="veda-sticky w:100%"
		{% endif %}
	>
		<div class="w:100% bgc:inherit">
			<div
				class="pl:15px@+md! pr:15px@+md! {{ containerType }}"
				{% if section.settings.VEDA_slider_10
				or section.settings.VEDA_slider_10 == 0
				or section.settings.section_settings___width
				or section.settings.section_settings___width == 0
				%}
					style="{{ containerGap }}{{ containerWidth }}"
				{% endif %}
			>
				<nav class="veda-nav d:flex ai:center jc:space-between mih:60px">
					<div class="d:flex ai:center">
						<div
							data-css="{{ null }}"
							class="veda-nav__hamburger veda-hamburger-menu-icon fz:20px c:color-gray9 mr:20px d:none"
						>
							{{ section.settings.hamburger___icon }}
						</div>
						{{ Logo }}
						{{ Navigation }}
					</div>
					{{ Actions }}
				</nav>
			</div>
			<div class="h:1px bgc:color-gray2"></div>
		</div>
	</div>
{% endcapture %}

<header
	data-id="{{ uniqueId }}"
	class="pos:relative z:99"
>
	<div
		class="veda-background veda-lazyload pos:absolute ins:0 z:-1 bgz:cover bgp:center bgc:color-light"
		style="{{ backgroundColor }}{{ backgroundImage }}"
	></div>
	<div>
		{{ Topbar }}
		{{ Content }}
	</div>
	{% comment %}<BẮT_ĐẦU_TÁCH_FILE_3:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_prefix,_alt,_style,_placeholder,_placeholder_class,_class,pl,placeholder_class,localization_id,defaultClass,currencySize,currency_id]>{% endcomment %}
	<div class="search-content-js pos:fixed t:0 l:0 z:999999 w:100% bgc:color-light trs:0.3s trf:translateY(-100%) v:hidden d:flex jc:center">
    <span class="btn-search-js pos:absolute t:10px r:20px fz:25px c:color-gray6 c:color-gray9|h cur:pointer trs:0.3s">
      <i class="fal fa-times"></i>
    </span>
		<div
			class="veda-search-form-js w:100% h:100% p:30px_15px d:flex jc:center"
			data-text-result="{{ 'veda.templates.search.search_for' | t: terms: 'a' }}"
		>
			<form
				data-css="{{ null }}"
				action="{{ routes.search_url }}"
				method="GET"
				class="d:flex ai:center jc:space-between w:80% maw:800px bdb:3px_solid_color-gray3"
			>
				<div class="d:flex ai:center w:100%">
					<input
						data-css="{{ null }}"
						class="input-search-js rs w:100% bd:0! bxsh:none! o:none! bgc:transparent ff:font-secondary fz:pfs(26px,34px) c:color-gray8 c:color-gray5||ph trs:0.3s"
						type="text"
						placeholder="{{ "veda.general.search.search" | t }}"
						name="q"
						value="{{ search.terms | escape }}"
						autocorrect="off"
						autocomplete="off"
					>
					<div
						class="veda-spinner bdw:2px mr:10px d:none"
						style="--spinner-color: var(--color-primary); --spinner-size: 14px;display: none"
					></div>
					{% if section.settings.veda_search___type %}
						<input type="hidden" name="type" value="{{ section.settings["veda_search___type"] | replace: ' ', '' }}">
					{% else %}
						<input type="hidden" name="type" value="product,article,collection,page">
					{% endif %}
					{% if section.settings.VEDA_select_1 %}
						<input type="hidden" name="options[unavailable_products]" value="last">
					{% else %}
						<input type="hidden" name="options[unavailable_products]" value="{{ section.settings["VEDA_select_1"] }}">
					{% endif %}
					{% if _prefix %}
						<input type="hidden" name="options[prefix]" value="{{ _prefix }}">
					{% else %}
						<input type="hidden" name="options[prefix]" value="last">
					{% endif %}
					{% if section.settings.veda_search___fields %}
						<input type="hidden" name="options[fields]" value="{{ section.settings["veda_search___fields"] }}">
					{% else %}
						<input type="hidden" name="options[fields]" value="title,vendor,product_type,variants.title">
					{% endif %}
					{% if section.settings.VEDA_slider_1 %}
						<input type="hidden" name="limit" value="{{ section.settings["VEDA_slider_1"] }}">
					{% else %}
						<input type="hidden" name="limit" value="10">
					{% endif %}
				</div>
				<button
					data-css="{{ null }}"
					class="rs flxs:0 bxsh:none bd:0 bgc:transparent! bxsh:none! o:none! fz:pfs(18px,26px) c:color-gray5 c:color-primary|h trs:0.3s cur:pointer"
					type="submit"
					aria-label="Search"
				>
					<i class="far fa-search"></i>
				</button>
			</form>
		</div>
	</div>
	<div class="h:1px bgc:color-gray2"></div>
	{% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
	{% if section.settings.VEDA_select_5 == 'video' and section.settings.VEDA_video_1 %}
		<div data-veda-video="{{ section.settings["VEDA_video_1"] }}"></div>
	{% endif %}
	{% if section.settings.VEDA_switch_4 %}
		<div
			class="pos:absolute ins:0 z:-1"
			style="background-color: {{ null }};backdrop-filter: blur({{ section.settings["VEDA_slider_8"] }}px)"
		></div>
	{% endif %}
</header>
{% schema %}
{
	"name": "Header 1",
	"blocks": [
		{
			"type": "socials",
			"name": "Socials",
			"settings": [
				{
					"label": "Socials > Link",
					"id": "socials___link",
					"type": "text"
				},
				{
					"label": "Socials > Icon",
					"info": "[Get icon](https://fontawesome.com/v5/search)",
					"id": "socials___icon",
					"type": "html",
					"default": "<i class=\"fab fa-facebook\"></i>"
				},
				{
					"label": "Socials > Label",
					"id": "socials___label",
					"type": "liquid",
					"default": "Facebook"
				}
			]
		},
		{
			"type": "VEDA_array_1",
			"name": "Language",
			"settings": [
				{
					"label": "Language And Currency > Icon",
					"info": "[Get icon](https://fontawesome.com/v5/search)",
					"id": "VEDA_icon_1",
					"type": "html",
					"default": "<i class=\"far fa-angle-down\"></i>"
				}
			]
		},
		{
			"type": "VEDA_array_2",
			"name": "Currency",
			"settings": [
				{
					"label": "Language And Currency > Icon",
					"info": "[Get icon](https://fontawesome.com/v5/search)",
					"id": "VEDA_icon_1",
					"type": "html",
					"default": "<i class=\"far fa-angle-down\"></i>"
				}
			]
		},
		{
			"type": "VEDA_array_3",
			"name": "Link",
			"settings": [
				{
					"label": "Language And Currency > Link",
					"id": "VEDA_linkPicker_1",
					"type": "text"
				},
				{
					"label": "Language And Currency > Label",
					"id": "VEDA_text_2",
					"type": "liquid",
					"default": "Link"
				},
				{
					"label": "Language And Currency > Icon",
					"info": "[Get icon](https://fontawesome.com/v5/search)",
					"id": "VEDA_icon_2",
					"type": "html",
					"default": "<i class=\"far fa-phone\"></i>"
				},
				{
					"label": "Language And Currency > Icon",
					"info": "[Get icon](https://fontawesome.com/v5/search)",
					"id": "VEDA_icon_1",
					"type": "html",
					"default": "<i class=\"far fa-angle-down\"></i>"
				},
				{
					"label": "Language And Currency > Enable Icon",
					"id": "VEDA_switch_2",
					"type": "checkbox",
					"default": false
				}
			]
		},
		{
			"type": "VEDA_array_4",
			"name": "Space",
			"settings": [
				{
					"label": "Language And Currency > Height",
					"id": "VEDA_slider_2",
					"type": "number",
					"default": 15
				},
				{
					"label": "Language And Currency > Width",
					"id": "VEDA_slider_3",
					"type": "number",
					"default": 20
				},
				{
					"label": "Language And Currency > Divider",
					"id": "VEDA_select_2",
					"type": "select",
					"default": "none",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Line",
							"value": "line"
						}
					]
				},
				{
					"label": "Language And Currency > Icon",
					"info": "[Get icon](https://fontawesome.com/v5/search)",
					"id": "VEDA_icon_1",
					"type": "html",
					"default": "<i class=\"far fa-angle-down\"></i>"
				}
			]
		},
		{
			"type": "right_actions_wishlist",
			"name": "Wishlist",
			"settings": [
				{
					"label": "Wishlist Page Url",
					"id": "right_actions___link",
					"type": "url",
					"info": "To create a Wishlist page: Go to Pages -> Add New -> Assign the wishlist to veda-wishlist template"
				},
				{
					"label": "Open In New Tab",
					"id": "right_actions___new_tab",
					"type": "checkbox",
					"default": false
				}
			]
		},
		{
			"type": "right_actions_compare",
			"name": "Compare",
			"settings": [
				{
					"label": "Compare Options Title",
					"id": "VEDA_tags_1",
					"type": "text",
					"default": "Color,Size"
				}
			]
		},
		{
			"type": "right_actions_search",
			"name": "Search",
			"settings": [
				{
					"label": "Icon",
					"info": "[Get icon](https://fontawesome.com/v5/search)",
					"id": "right_actions___icon",
					"type": "html",
					"default": "<i class=\"far fa-heart\"></i>"
				}
			]
		},
		{
			"type": "right_actions_link",
			"name": "Custom Link",
			"settings": [
				{
					"label": "Link",
					"id": "right_actions___link",
					"type": "url"
				},
				{
					"label": "Open In New Tab",
					"id": "right_actions___new_tab",
					"type": "checkbox",
					"default": false
				},
				{
					"label": "Icon",
					"info": "[Get icon](https://fontawesome.com/v5/search)",
					"id": "right_actions___icon",
					"type": "html",
					"default": "<i class=\"far fa-heart\"></i>"
				}
			]
		}
	],
	"settings": [
		{
			"type": "link_list",
			"id": "menu",
			"label": "Menu"
		},
		{
			"label": "Sticky Menu",
			"id": "navigation___sticky",
			"type": "checkbox",
			"default": true
		},
		{
			"label": "Hamburger > Icon",
			"info": "[Get icon](https://fontawesome.com/v5/search)",
			"id": "hamburger___icon",
			"type": "html",
			"default": "<i class=\"far fa-bars\"></i>"
		},
		{
			"label": "Search > Unavailable Product",
			"id": "VEDA_select_1",
			"type": "select",
			"default": "last",
			"options": [
				{
					"label": "Last",
					"value": "last"
				},
				{
					"label": "Show",
					"value": "show"
				},
				{
					"label": "Hidden",
					"value": "hidden"
				}
			]
		},
		{
			"label": "Search > Limit",
			"id": "VEDA_slider_1",
			"type": "number",
			"default": 4
		},
		{
			"label": "Search > Fields",
			"id": "veda_search___fields",
			"type": "text",
			"default": "title"
		},
		{
			"label": "Search > Type",
			"id": "veda_search___type",
			"type": "text",
			"default": "product"
		},
		{
			"label": "Announcement Bar > Text",
			"info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
			"id": "announcement_bar___text",
			"type": "liquid",
			"default": "<p>Open Doors To A World Of Fashion | <a href=\"#\">Discover More</a></p>"
		},
		{
			"label": "Logo > Height",
			"id": "logo___height",
			"type": "number",
			"default": 30
		},
		{
			"type": "image_picker",
			"id": "logo___image",
			"label": "Logo"
		},
		{
			"label": "Background Type",
			"id": "VEDA_select_5",
			"type": "select",
			"default": "none",
			"options": [
				{
					"label": "Image",
					"value": "image"
				},
				{
					"label": "Color",
					"value": "color"
				},
				{
					"label": "Video",
					"value": "video"
				},
				{
					"label": "None",
					"value": "none"
				}
			]
		},
		{
			"type": "image_picker",
			"id": "VEDA_image_1",
			"label": "Background Image"
		},
		{
			"label": "Background Overlay Blur",
			"id": "VEDA_slider_8",
			"type": "number"
		},
		{
			"label": "Enable Background Overlay",
			"id": "VEDA_switch_4",
			"type": "checkbox",
			"default": false
		},
		{
			"label": "Background Size",
			"id": "VEDA_select_4",
			"type": "select",
			"default": "cover",
			"options": [
				{
					"label": "Cover",
					"value": "cover"
				},
				{
					"label": "Contain",
					"value": "contain"
				}
			]
		},
		{
			"label": "Background Fixed",
			"id": "VEDA_switch_5",
			"type": "checkbox",
			"default": false
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color",
			"default": "#fff"
		},
		{
			"type": "range",
			"id": "background_opacity",
			"min": 0,
			"unit": "%",
			"max": 100,
			"step": 1,
			"label": "Opacity",
			"default": 100
		},
		{
			"label": "Section Width",
			"id": "section_settings___width",
			"type": "number"
		},
		{
			"label": "Container Width",
			"id": "VEDA_select_6",
			"type": "select",
			"default": "boxed",
			"options": [
				{
					"label": "Boxed",
					"value": "boxed"
				},
				{
					"label": "Full Width",
					"value": "full_width"
				},
				{
					"label": "Manual",
					"value": "manual"
				}
			]
		}
	],
	"tag": "div",
	"presets": [
		{
			"name": "Header 1",
			"blocks": [
				{
					"type": "right_actions_wishlist"
				},
				{
					"type": "right_actions_compare"
				},
				{
					"type": "right_actions_search"
				},
				{
					"type": "right_actions_link"
				},
				{
					"type": "VEDA_array_1"
				},
				{
					"type": "VEDA_array_4"
				},
				{
					"type": "VEDA_array_2"
				},
				{
					"type": "socials"
				},
				{
					"type": "socials"
				},
				{
					"type": "socials"
				},
				{
					"type": "socials"
				}
			]
		}
	]
}
{% endschema %}
