{% assign uniqueId = 'id_be0fac9f-ebef-47a3-9b3e-8e7a38912e71' %}
{% assign builderMode = false %}
{% assign envatoMode = true %}
{% comment %}<BẮT_ĐẦU_TÁCH_FILE_1:[section]>{% endcomment %}
{% liquid
  if null
    assign backgroundFixed = 'fixed'
  else
    assign backgroundFixed = 'scroll'
  endif

  if 'none' == 'color'
    assign backgroundColor = 'background-color: ' | append: '#dbdbdb' | append: ';'
  else
    assign backgroundColor = ''
  endif

  if  section.settings.VEDA_image_1.src
    assign bgImage = section.settings.VEDA_image_1.src | image_url: width: 2000

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: 'cover' | append: ';'
  elsif  section.settings.VEDA_image_1.src == blank
    assign bgImage = 'https://cdn.shopify.com/s/files/1/0552/5510/5616/files/udxhtnzxtq.png?v=1681903122&width=1000'

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: 'cover' | append: ';'
  else
    assign backgroundImage = ''
  endif

  assign sectionPadding = 'padding-top: ' | append: 60 | append: 'px;padding-right: ' | append: null | append: 'px;padding-bottom: ' | append: 60 | append: 'px;padding-left: ' | append: null | append: 'px;'

  if section.settings.VEDA_select_3 == 'full_width'
    assign containerType = 'container-fluid'
  else
    assign containerType = 'container'
  endif

  if section.settings.VEDA_slider_4 >= 0
    assign containerGap = 'padding-left: ' | append: section.settings.VEDA_slider_4 | append: 'px; padding-right: ' | append: section.settings.VEDA_slider_4 | append: 'px;'
  else
    assign containerGap = ''
  endif

  if section.settings.section_settings___width >= 0
    assign containerWidth = 'max-width: ' | append: section.settings.section_settings___width | append: 'px;'
  else
    assign containerWidth = ''
  endif

  if section.settings.VEDA_slider_3 >= 0
    assign settingGap = section.settings.VEDA_slider_3 | divided_by: 2.0

    assign settingGapVertical = section.settings.VEDA_slider_3
  else
    assign settingGap = ''

    assign settingGapVertical = ''
  endif

  assign colGap = 'margin-top: ' | append: settingGapVertical | append: 'px; padding-left: ' | append: settingGap | append: 'px; padding-right: ' | append: settingGap | append: 'px;'

  assign rowGap = 'margin-top: -' | append: settingGapVertical | append: 'px; margin-left: -' | append: settingGap | append: 'px; margin-right: -' | append: settingGap | append: 'px;'

  assign sectionSeparator = ''

  if section.settings.VEDA_switch_6
    if section.settings.VEDA_slider_2
      assign sectionSeparator = sectionSeparator | append: 'border-top: ' | append: section.settings.VEDA_slider_2 | append: 'px solid ' | append: '#f3f3f3' | append: ';'
    endif

    if section.settings.VEDA_slider_1
      assign sectionSeparator = sectionSeparator | append: 'border-bottom: ' | append: section.settings.VEDA_slider_1 | append: 'px solid ' | append: '#f3f3f3' | append: ';'
    endif
  endif

  if colGap and rowGap and builderMode and envatoMode
  endif
%}
{% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}

{% liquid
  assign _label_class = false

  assign _class = false

  assign _placeholder = false

  assign _autocorrect = false

  assign _autocapitalize = false

  assign _class = false

  assign _data_confirm_message = false

  assign _data_target = false

  assign _aria_label = false

  assign _data_index = false

  assign _data_form_active = false

  assign _form = false

  assign _name = false

  assign _id = false

  assign _tooltip_position = false

  assign _tooltip_text = false

  assign _data_button_video_id = false

  assign _icon_class = false

  assign _data_button_video_id = false

  assign _data_button_video_id = false
%}
{% capture FormAddAddress %}
  {% form 'customer_address', customer.new_address %}
    <div class="w:100% p:30px_40px bd:1px_solid_color-gray5" data-css="{{ null }}">
      <h4 class="ta:center" data-css="{{ null }}">{{ section.settings.form_address___title_add }}</h4>
      {% comment %}<BẮT_ĐẦU_TÁCH_FILE_2:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class]>{% endcomment %}
      <label
        {% if 'mb:15px' %}
          class="{{ 'mb:15px' }}"
        {% else %}
          class="d:block mb:15px"
        {% endif %}
      >
        <span
          {% if _label_class %}
            class="{{ _label_class }}"
          {% else %}
            class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
          {% endif %}
          data-css="{{ null }}"
        >
          {{ section.settings.VEDA_text_3 }}
        </span>
        <input
          {% if _class %}
            class="rs {{ _class }}"
          {% else %}
            class="rs w:100% p:12px_15px fz:14px c:color-gray9 c:color-gray7-freeze||ph bgc:color-light bd:1px_solid_color-gray3 o:none"
          {% endif %}
          data-css="{{ null }}"
          type="{{ 'text' }}"
          name="{{ 'address[first_name]' }}"
          {% if form.first_name %}
            value="{{ form.first_name }}"
          {% endif %}
          {% if _placeholder %}
            placeholder="{{ _placeholder }}"
          {% endif %}
          {% if 'given-name' %}
            autocomplete="{{ 'given-name' }}"
          {% endif %}
          {% if _autocorrect %}
            autocorrect="{{ _autocorrect }}"
          {% endif %}
          {% if _autocapitalize %}
            autocapitalize="{{ _autocapitalize }}"
          {% endif %}
        >
      </label>
      {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      {% comment %}<BẮT_ĐẦU_TÁCH_FILE_3:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class]>{% endcomment %}
      <label
        {% if 'mb:15px' %}
          class="{{ 'mb:15px' }}"
        {% else %}
          class="d:block mb:15px"
        {% endif %}
      >
        <span
          {% if _label_class %}
            class="{{ _label_class }}"
          {% else %}
            class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
          {% endif %}
          data-css="{{ null }}"
        >
          {{ section.settings.form_address___last_name }}
        </span>
        <input
          {% if _class %}
            class="rs {{ _class }}"
          {% else %}
            class="rs w:100% p:12px_15px fz:14px c:color-gray9 c:color-gray7-freeze||ph bgc:color-light bd:1px_solid_color-gray3 o:none"
          {% endif %}
          data-css="{{ null }}"
          type="{{ 'text' }}"
          name="{{ 'address[last_name]' }}"
          {% if form.last_name %}
            value="{{ form.last_name }}"
          {% endif %}
          {% if _placeholder %}
            placeholder="{{ _placeholder }}"
          {% endif %}
          {% if 'family-name' %}
            autocomplete="{{ 'family-name' }}"
          {% endif %}
          {% if _autocorrect %}
            autocorrect="{{ _autocorrect }}"
          {% endif %}
          {% if _autocapitalize %}
            autocapitalize="{{ _autocapitalize }}"
          {% endif %}
        >
      </label>
      {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      {% comment %}<BẮT_ĐẦU_TÁCH_FILE_4:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class]>{% endcomment %}
      <label
        {% if 'mb:15px' %}
          class="{{ 'mb:15px' }}"
        {% else %}
          class="d:block mb:15px"
        {% endif %}
      >
        <span
          {% if _label_class %}
            class="{{ _label_class }}"
          {% else %}
            class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
          {% endif %}
          data-css="{{ null }}"
        >
          {{ section.settings.form_address___company }}
        </span>
        <input
          {% if _class %}
            class="rs {{ _class }}"
          {% else %}
            class="rs w:100% p:12px_15px fz:14px c:color-gray9 c:color-gray7-freeze||ph bgc:color-light bd:1px_solid_color-gray3 o:none"
          {% endif %}
          data-css="{{ null }}"
          type="{{ 'text' }}"
          name="{{ 'address[company]' }}"
          {% if form.company %}
            value="{{ form.company }}"
          {% endif %}
          {% if _placeholder %}
            placeholder="{{ _placeholder }}"
          {% endif %}
          {% if 'organization' %}
            autocomplete="{{ 'organization' }}"
          {% endif %}
          {% if _autocorrect %}
            autocorrect="{{ _autocorrect }}"
          {% endif %}
          {% if _autocapitalize %}
            autocapitalize="{{ _autocapitalize }}"
          {% endif %}
        >
      </label>
      {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      {% comment %}<BẮT_ĐẦU_TÁCH_FILE_5:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class]>{% endcomment %}
      <label
        {% if 'mb:15px' %}
          class="{{ 'mb:15px' }}"
        {% else %}
          class="d:block mb:15px"
        {% endif %}
      >
        <span
          {% if _label_class %}
            class="{{ _label_class }}"
          {% else %}
            class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
          {% endif %}
          data-css="{{ null }}"
        >
          {{ section.settings.form_address___address_1 }}
        </span>
        <input
          {% if _class %}
            class="rs {{ _class }}"
          {% else %}
            class="rs w:100% p:12px_15px fz:14px c:color-gray9 c:color-gray7-freeze||ph bgc:color-light bd:1px_solid_color-gray3 o:none"
          {% endif %}
          data-css="{{ null }}"
          type="{{ 'text' }}"
          name="{{ 'address[address1]' }}"
          {% if form.address1 %}
            value="{{ form.address1 }}"
          {% endif %}
          {% if _placeholder %}
            placeholder="{{ _placeholder }}"
          {% endif %}
          {% if 'address-line1' %}
            autocomplete="{{ 'address-line1' }}"
          {% endif %}
          {% if _autocorrect %}
            autocorrect="{{ _autocorrect }}"
          {% endif %}
          {% if _autocapitalize %}
            autocapitalize="{{ _autocapitalize }}"
          {% endif %}
        >
      </label>
      {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      {% comment %}<BẮT_ĐẦU_TÁCH_FILE_6:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class]>{% endcomment %}
      <label
        {% if 'mb:15px' %}
          class="{{ 'mb:15px' }}"
        {% else %}
          class="d:block mb:15px"
        {% endif %}
      >
        <span
          {% if _label_class %}
            class="{{ _label_class }}"
          {% else %}
            class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
          {% endif %}
          data-css="{{ null }}"
        >
          {{ section.settings.form_address___address_2 }}
        </span>
        <input
          {% if _class %}
            class="rs {{ _class }}"
          {% else %}
            class="rs w:100% p:12px_15px fz:14px c:color-gray9 c:color-gray7-freeze||ph bgc:color-light bd:1px_solid_color-gray3 o:none"
          {% endif %}
          data-css="{{ null }}"
          type="{{ 'text' }}"
          name="{{ 'address[address2]' }}"
          {% if form.address2 %}
            value="{{ form.address2 }}"
          {% endif %}
          {% if _placeholder %}
            placeholder="{{ _placeholder }}"
          {% endif %}
          {% if 'address-line2' %}
            autocomplete="{{ 'address-line2' }}"
          {% endif %}
          {% if _autocorrect %}
            autocorrect="{{ _autocorrect }}"
          {% endif %}
          {% if _autocapitalize %}
            autocapitalize="{{ _autocapitalize }}"
          {% endif %}
        >
      </label>
      {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      {% comment %}<BẮT_ĐẦU_TÁCH_FILE_7:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class]>{% endcomment %}
      <label
        {% if 'mb:15px' %}
          class="{{ 'mb:15px' }}"
        {% else %}
          class="d:block mb:15px"
        {% endif %}
      >
        <span
          {% if _label_class %}
            class="{{ _label_class }}"
          {% else %}
            class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
          {% endif %}
          data-css="{{ null }}"
        >
          {{ section.settings.form_address___city }}
        </span>
        <input
          {% if _class %}
            class="rs {{ _class }}"
          {% else %}
            class="rs w:100% p:12px_15px fz:14px c:color-gray9 c:color-gray7-freeze||ph bgc:color-light bd:1px_solid_color-gray3 o:none"
          {% endif %}
          data-css="{{ null }}"
          type="{{ 'text' }}"
          name="{{ 'address[city]' }}"
          {% if form.city %}
            value="{{ form.city }}"
          {% endif %}
          {% if _placeholder %}
            placeholder="{{ _placeholder }}"
          {% endif %}
          {% if 'address-level2' %}
            autocomplete="{{ 'address-level2' }}"
          {% endif %}
          {% if _autocorrect %}
            autocorrect="{{ _autocorrect }}"
          {% endif %}
          {% if _autocapitalize %}
            autocapitalize="{{ _autocapitalize }}"
          {% endif %}
        >
      </label>
      {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      {% comment %}<BẮT_ĐẦU_TÁCH_FILE_8:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class]>{% endcomment %}
      <label
        {% if 'mb:15px' %}
          class="{{ 'mb:15px' }}"
        {% else %}
          class="d:block mb:15px"
        {% endif %}
      >
        <span
          {% if _label_class %}
            class="{{ _label_class }}"
          {% else %}
            class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
          {% endif %}
          data-css="{{ null }}"
        >
          {{ section.settings.form_address___country }}
        </span>
        <input
          {% if _class %}
            class="rs {{ _class }}"
          {% else %}
            class="rs w:100% p:12px_15px fz:14px c:color-gray9 c:color-gray7-freeze||ph bgc:color-light bd:1px_solid_color-gray3 o:none"
          {% endif %}
          data-css="{{ null }}"
          type="{{ 'text' }}"
          name="{{ 'address[country]' }}"
          {% if form.country %}
            value="{{ form.country }}"
          {% endif %}
          {% if _placeholder %}
            placeholder="{{ _placeholder }}"
          {% endif %}
          {% if 'address-level2' %}
            autocomplete="{{ 'address-level2' }}"
          {% endif %}
          {% if _autocorrect %}
            autocorrect="{{ _autocorrect }}"
          {% endif %}
          {% if _autocapitalize %}
            autocapitalize="{{ _autocapitalize }}"
          {% endif %}
        >
      </label>
      {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      <label class="d:block mb:15px">
        <span class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px" data-css="{{ null }}">
          {{ section.settings.form_address___country }}
        </span>
        <select
          name="address[country]"
          id="address-country-new"
          data-default="{{ form.country }}"
          class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
          autocomplete="country"
          data-css="{{ null }}"
        >
          {% if builderMode %}
            {% for item in localization.available_countries %}
              <option
                class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray7||ph"
                data-css="{{ null }}"
                value="{{ item | downcase }}"
              >
                {{ item.name }}
              </option>
            {% endfor %}
          {% else %}
            {{ all_country_option_tags }}
          {% endif %}
        </select>
      </label>
      <label class="address-province-container-new d:block mb:15px" style="display:none">
        <span class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px" data-css="{{ null }}">
          {{ 'veda.customer.addresses.province' | t }}
        </span>
        <select
          name="address[province]"
          id="address-province-new"
          class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
          data-default="{{ form.province }}"
          autocomplete="address-level1"
          data-css="{{ null }}"
        ></select>
      </label>
      <label class="d:block mb:15px">
        <span class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px" data-css="{{ null }}">
          {{ section.settings.form_address___zip }}
        </span>
        <input
          type="text"
          name="address[zip]"
          value="{{ form.zip }}"
          class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
          autocapitalize="characters"
          autocomplete="postal-code"
          data-css="{{ null }}"
        >
      </label>
      <label class="d:block mb:15px">
        <span class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px" data-css="{{ null }}">
          {{ section.settings.form_address___phone }}
        </span>
        <input
          type="tel"
          class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
          name="address[phone]"
          value="{{ form.phone }}"
          autocomplete="tel"
          data-css="{{ null }}"
        >
      </label>
      <div class="mt:10px">
        {{ form.set_as_default_checkbox }}
        <label
          class="fz:14px c:color-gray7"
          for="address_default_address_new"
          data-css="{{ null }}"
        >
          {{ section.settings.VEDA_text_2 }}
        </label>
      </div>
      <div class="d:flex">
        {% comment %}<BẮT_ĐẦU_TÁCH_FILE_9:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class]>{% endcomment %}
        {% liquid
          if section.settings.VEDA_select_2 == 'link'
            assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 bd:0 bxsh:none p:0 bg:none cur:pointer trs:0.3s '
          else
            assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s p:13px_20px bd:none bxsh:none o:none cur:pointer '
          endif

          assign default_for_bottom_class = ''

          case section.settings.VEDA_select_2
            when 'primary'
              assign variant_class = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
            when 'secondary'
              assign variant_class = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
            when 'dark'
              assign variant_class = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
            when 'gray'
              assign variant_class = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
            when 'light'
              assign variant_class = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
            else
              assign variant_class = ' c:color-gray9 c:color-primary|h'
          endcase
        %}

        <button
          type="{{ 'submit' }}"
          component="{{ 'submit_add_button' }}"
          {% if 'btn-add-address-js mt:20px mr:20px' %}
            class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }} {{ 'btn-add-address-js mt:20px mr:20px' }}"
          {% else %}
            class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }}"
          {% endif %}
          {% if _data_confirm_message %}
            data-confirm-message="{{ _data_confirm_message }}"
          {% endif %}
          {% if _data_target %}
            data-target="{{ _data_target }}"
          {% endif %}
          {% if _aria_label %}
            aria-label="{{ _aria_label }}"
          {% endif %}
          {% if _data_index %}
            data-index="{{ _data_index }}"
          {% endif %}
          {% if _data_form_active %}
            data-form-active="{{ _data_form_active }}"
          {% endif %}
          {% if _form %}
            form="{{ _form }}"
          {% endif %}
          {% if _name %}
            name="{{ _name }}"
          {% endif %}
          {% if _id %}
            id="{{ _id }}"
          {% endif %}
          {% if _tooltip_position %}
            data-tooltip-position="{{ _tooltip_position }}"
          {% endif %}
          {% if _tooltip_text %}
            data-tooltip-text="{{ _tooltip_text }}"
          {% endif %}
          {% if _data_button_video_id %}
            data-button-video-id="{{ _data_button_video_id }}"
          {% endif %}
          data-css="{{ null }}"
        >
          {% if section.settings.VEDA_switch_3 and 'left' == 'left' %}
            <span
              class="mr:10px"
              data-css="{{ null }}"
            >
              {{ section.settings.VEDA_icon_3 }}
            </span>
          {% endif %}
          <span>
            {{ section.settings.submit_add_button___text }}
          </span>
          {% if section.settings.VEDA_switch_3 and 'left' == 'right' %}
            <span
              {% if _icon_class %}
                class="ml:10px {{ _icon_class }}"
              {% else %}
                class="ml:10px"
              {% endif %}
              data-css="{{ null }}"
            >
              {{ section.settings.VEDA_icon_3 }}
            </span>
          {% endif %}
        </button>
        {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
        {% comment %}<BẮT_ĐẦU_TÁCH_FILE_10:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class,default_class,default_for_bottom_class,variant_class]>{% endcomment %}
        {% liquid
          if section.settings.cancel_button___variant == 'link'
            assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 bd:0 bxsh:none p:0 bg:none cur:pointer trs:0.3s '
          else
            assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s p:13px_20px bd:none bxsh:none o:none cur:pointer '
          endif

          assign default_for_bottom_class = ''

          case section.settings.cancel_button___variant
            when 'primary'
              assign variant_class = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
            when 'secondary'
              assign variant_class = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
            when 'dark'
              assign variant_class = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
            when 'gray'
              assign variant_class = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
            when 'light'
              assign variant_class = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
            else
              assign variant_class = ' c:color-gray9 c:color-primary|h'
          endcase
        %}

        <button
          type="{{ 'reset' }}"
          component="{{ 'cancel_button' }}"
          {% if 'btn-add-address-js mt:20px' %}
            class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }} {{ 'btn-add-address-js mt:20px' }}"
          {% else %}
            class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }}"
          {% endif %}
          {% if _data_confirm_message %}
            data-confirm-message="{{ _data_confirm_message }}"
          {% endif %}
          {% if _data_target %}
            data-target="{{ _data_target }}"
          {% endif %}
          {% if _aria_label %}
            aria-label="{{ _aria_label }}"
          {% endif %}
          {% if _data_index %}
            data-index="{{ _data_index }}"
          {% endif %}
          {% if _data_form_active %}
            data-form-active="{{ _data_form_active }}"
          {% endif %}
          {% if _form %}
            form="{{ _form }}"
          {% endif %}
          {% if _name %}
            name="{{ _name }}"
          {% endif %}
          {% if _id %}
            id="{{ _id }}"
          {% endif %}
          {% if _tooltip_position %}
            data-tooltip-position="{{ _tooltip_position }}"
          {% endif %}
          {% if _tooltip_text %}
            data-tooltip-text="{{ _tooltip_text }}"
          {% endif %}
          {% if _data_button_video_id %}
            data-button-video-id="{{ _data_button_video_id }}"
          {% endif %}
          data-css="{{ null }}"
        >
          {% if section.settings.VEDA_switch_1 and 'left' == 'left' %}
            <span
              class="mr:10px"
              data-css="{{ null }}"
            >
              {{ section.settings.VEDA_icon_1 }}
            </span>
          {% endif %}
          <span>
            {{ section.settings.cancel_button___text }}
          </span>
          {% if section.settings.VEDA_switch_1 and 'left' == 'right' %}
            <span
              {% if _icon_class %}
                class="ml:10px {{ _icon_class }}"
              {% else %}
                class="ml:10px"
              {% endif %}
              data-css="{{ null }}"
            >
              {{ section.settings.VEDA_icon_1 }}
            </span>
          {% endif %}
        </button>
        {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      </div>
    </div>
  {% endform %}
{% endcapture %}

{% capture Addresses %}
  <div class="col-xs-{{ 12 }} col-sm-{{ 12 }} col-md-{{ 12 }} col-lg-{{ 12 }} d:flex fld:column jc:center ai:center">
    {% comment %}<BẮT_ĐẦU_TÁCH_FILE_11:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class,default_class,default_for_bottom_class,variant_class]>{% endcomment %}
    {% liquid
      if section.settings.add_button___variant == 'link'
        assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 bd:0 bxsh:none p:0 bg:none cur:pointer trs:0.3s '
      else
        assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s p:13px_20px bd:none bxsh:none o:none cur:pointer '
      endif

      assign default_for_bottom_class = ''

      case section.settings.add_button___variant
        when 'primary'
          assign variant_class = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
        when 'secondary'
          assign variant_class = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
        when 'dark'
          assign variant_class = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
        when 'gray'
          assign variant_class = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
        when 'light'
          assign variant_class = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
        else
          assign variant_class = ' c:color-gray9 c:color-primary|h'
      endcase
    %}

    <button
      type="{{ 'submit' }}"
      component="{{ 'add_button' }}"
      {% if 'btn-add-address-js' %}
        class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }} {{ 'btn-add-address-js' }}"
      {% else %}
        class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }}"
      {% endif %}
      {% if _data_confirm_message %}
        data-confirm-message="{{ _data_confirm_message }}"
      {% endif %}
      {% if _data_target %}
        data-target="{{ _data_target }}"
      {% endif %}
      {% if _aria_label %}
        aria-label="{{ _aria_label }}"
      {% endif %}
      {% if _data_index %}
        data-index="{{ _data_index }}"
      {% endif %}
      {% if _data_form_active %}
        data-form-active="{{ _data_form_active }}"
      {% endif %}
      {% if _form %}
        form="{{ _form }}"
      {% endif %}
      {% if _name %}
        name="{{ _name }}"
      {% endif %}
      {% if _id %}
        id="{{ _id }}"
      {% endif %}
      {% if _tooltip_position %}
        data-tooltip-position="{{ _tooltip_position }}"
      {% endif %}
      {% if _tooltip_text %}
        data-tooltip-text="{{ _tooltip_text }}"
      {% endif %}
      {% if _data_button_video_id %}
        data-button-video-id="{{ _data_button_video_id }}"
      {% endif %}
      data-css="{{ null }}"
    >
      {% if section.settings.add_button___icon_enable and 'left' == 'left' %}
        <span
          class="mr:10px"
          data-css="{{ null }}"
        >
          {{ section.settings.add_button___choose_icon }}
        </span>
      {% endif %}
      <span>
        {{ section.settings.add_button___text }}
      </span>
      {% if section.settings.add_button___icon_enable and 'left' == 'right' %}
        <span
          {% if _icon_class %}
            class="ml:10px {{ _icon_class }}"
          {% else %}
            class="ml:10px"
          {% endif %}
          data-css="{{ null }}"
        >
          {{ section.settings.add_button___choose_icon }}
        </span>
      {% endif %}
    </button>
    {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
    <div class="form-add_address-js mt:20px w:100% w:40%@md d:none">
      {{ FormAddAddress }}
    </div>
    <div class="d:flex fld:column ai:center w:100%">
      {% for address in customer.addresses %}
        {% capture AddressInformation %}
          {% if address.default %}
            <h2 class="mt:20px fz:20px fw:500 ta:center" data-css="{{ null }}">
              {{ section.settings.form_address___default }}
            </h2>
          {% endif %}
          {% if builderMode %}
            <div class="mt:15px ta:center" data-css="{{ null }}">
              <div>{{ address.name }}</div>
              <div>{{ address.address1 }}</div>
              <div>
                {{ address.city }}
                {{ address.province_code }}
                {{ address.zip }}
              </div>
              <div>{{ address.country.name }}</div>
            </div>
          {% else %}
            <div class="mt:15px ta:center" data-css="{{ null }}">
              {{ address | format_address }}
            </div>
          {% endif %}
        {% endcapture %}

        {% capture FormUpdateAddress %}
          {% form 'customer_address', address %}
            <div class="p:30px_40px bd:1px_solid_color-gray5" data-css="{{ null }}">
              <h4 class="ta:center" data-css="{{ null }}">{{ section.settings.VEDA_text_4 }}</h4>
              <label class="d:block mb:15px">
                <span
                  class="mt:20px fz:16px c:color-gray9"
                  data-css="{{ null }}"
                >
                  {{ section.settings.VEDA_text_3 }}
                </span>
                <input
                  type="text"
                  name="address[first_name]"
                  class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
                  value="{{ form.first_name }}"
                  autocomplete="given-name"
                  data-css="{{ null }}"
                >
              </label>
              <label class="d:block mb:15px">
                <span
                  class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
                  for="AddressLastName_{{ form.id }}"
                  data-css="{{ null }}"
                >
                  {{ section.settings.form_address___last_name }}
                </span>
                <input
                  type="text"
                  class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
                  name="address[last_name]"
                  value="{{ form.last_name }}"
                  autocomplete="family-name"
                  data-css="{{ null }}"
                >
              </label>
              <label class="d:block mb:15px">
                <span
                  class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
                  data-css="{{ null }}"
                >
                  {{ section.settings.form_address___company }}
                </span>
                <input
                  type="text"
                  class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
                  name="address[company]"
                  value="{{ form.company }}"
                  autocomplete="organization"
                  data-css="{{ null }}"
                >
              </label>
              <label class="d:block mb:15px">
                <span
                  class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
                  data-css="{{ null }}"
                >
                  {{ section.settings.form_address___address_1 }}
                </span>
                <input
                  type="text"
                  name="address[address1]"
                  value="{{ form.address1 }}"
                  autocomplete="address-line1"
                  class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
                  data-css="{{ null }}"
                >
              </label>
              <label class="d:block mb:15px">
                <span
                  class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
                  data-css="{{ null }}"
                >
                  {{ section.settings.form_address___address_2 }}
                </span>
                <input
                  type="text"
                  name="address[address2]"
                  value="{{ form.address2 }}"
                  autocomplete="address-line2"
                  class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
                  data-css="{{ null }}"
                >
              </label>
              <label class="d:block mb:15px">
                <span
                  class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
                  data-css="{{ null }}"
                >
                  {{ section.settings.form_address___city }}
                </span>
                <input
                  class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
                  type="text"
                  name="address[city]"
                  value="{{ form.city }}"
                  autocomplete="address-level2"
                  data-css="{{ null }}"
                >
              </label>
              <label class="d:block mb:15px">
                <span
                  class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
                  data-css="{{ null }}"
                >
                  {{ section.settings.form_address___country }}
                </span>
                <select
                  name="address[country]"
                  data-address-country-select
                  data-default="{{ form.country }}"
                  data-form-id="{{ form.id }}"
                  autocomplete="country"
                  id="address-country-{{ form.id }}"
                  class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
                  data-css="{{ null }}"
                >
                  {% if builderMode %}
                    {% for countrieItem in localization.available_countries %}
                      <option
                        class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph"
                        data-css="{{ null }}"
                        value="{{ countrieItem.name | downcase }}"
                      >
                        {{ countrieItem.name }}
                      </option>
                    {% endfor %}
                  {% else %}
                    {{ all_country_option_tags }}
                  {% endif %}
                </select>
              </label>
              <label class="address-province-container-{{ form.id }} d:block mb:15px" style="display: none">
                <span
                  class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
                  data-css="{{ null }}"
                >
                  {{ 'veda.customer.addresses.province' | t }}
                </span>
                <select
                  class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
                  name="address[province]"
                  id="address-province-{{ form.id }}"
                  data-default="{{ form.province }}"
                  autocomplete="address-level1"
                  data-css="{{ null }}"
                ></select>
              </label>
              <label class="d:block mb:15px">
                <span
                  class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
                  for="AddressZip_{{ form.id }}"
                  data-css="{{ null }}"
                >
                  {{ section.settings.form_address___zip }}
                </span>
                <input
                  class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
                  type="text"
                  name="address[zip]"
                  value="{{ form.zip }}"
                  autocapitalize="characters"
                  autocomplete="postal-code"
                  data-css="{{ null }}"
                >
              </label>
              <label class="d:block mb:15px">
                <span
                  class="d:block fz:15px ff:font-secondary c:color-gray9 mb:4px"
                  for="AddressPhone_{{ form.id }}"
                  data-css="{{ null }}"
                >
                  {{ section.settings.form_address___phone }}
                </span>
                <input
                  class="rs w:100% p:12px_15px fz:14px bd:1px_solid_color-gray3 o:none c:color-gray9 c:color-gray7||ph bgc:color-light"
                  type="tel"
                  name="address[phone]"
                  value="{{ form.phone }}"
                  autocomplete="tel"
                  data-css="{{ null }}"
                >
              </label>
              <div>
                {{ form.set_as_default_checkbox }}
                <label
                  class="fz:14px c:color-gray7"
                  for="address_default_address_{{ form.id }}"
                  data-css="{{ null }}"
                >
                  {{ section.settings.VEDA_text_2 }}
                </label>
              </div>
              <div class="d:flex">
                {% comment %}<BẮT_ĐẦU_TÁCH_FILE_12:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class,default_class,default_for_bottom_class,variant_class]>{% endcomment %}
                {% liquid
                  if section.settings.VEDA_select_1 == 'link'
                    assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 bd:0 bxsh:none p:0 bg:none cur:pointer trs:0.3s '
                  else
                    assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s p:13px_20px bd:none bxsh:none o:none cur:pointer '
                  endif

                  assign default_for_bottom_class = ''

                  case section.settings.VEDA_select_1
                    when 'primary'
                      assign variant_class = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
                    when 'secondary'
                      assign variant_class = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
                    when 'dark'
                      assign variant_class = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
                    when 'gray'
                      assign variant_class = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
                    when 'light'
                      assign variant_class = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
                    else
                      assign variant_class = ' c:color-gray9 c:color-primary|h'
                  endcase
                %}

                <button
                  type="{{ 'submit' }}"
                  component="{{ 'submit_update_button' }}"
                  {% if 'btn-add-address-js mt:20px mr:20px' %}
                    class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }} {{ 'btn-add-address-js mt:20px mr:20px' }}"
                  {% else %}
                    class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }}"
                  {% endif %}
                  {% if _data_confirm_message %}
                    data-confirm-message="{{ _data_confirm_message }}"
                  {% endif %}
                  {% if _data_target %}
                    data-target="{{ _data_target }}"
                  {% endif %}
                  {% if _aria_label %}
                    aria-label="{{ _aria_label }}"
                  {% endif %}
                  {% if forloop.index %}
                    data-index="{{ forloop.index }}"
                  {% endif %}
                  {% if _data_form_active %}
                    data-form-active="{{ _data_form_active }}"
                  {% endif %}
                  {% if _form %}
                    form="{{ _form }}"
                  {% endif %}
                  {% if _name %}
                    name="{{ _name }}"
                  {% endif %}
                  {% if _id %}
                    id="{{ _id }}"
                  {% endif %}
                  {% if _tooltip_position %}
                    data-tooltip-position="{{ _tooltip_position }}"
                  {% endif %}
                  {% if _tooltip_text %}
                    data-tooltip-text="{{ _tooltip_text }}"
                  {% endif %}
                  {% if _data_button_video_id %}
                    data-button-video-id="{{ _data_button_video_id }}"
                  {% endif %}
                  data-css="{{ null }}"
                >
                  {% if section.settings.VEDA_switch_2 and 'left' == 'left' %}
                    <span
                      class="mr:10px"
                      data-css="{{ null }}"
                    >
                      {{ section.settings.VEDA_icon_2 }}
                    </span>
                  {% endif %}
                  <span>
                    {{ section.settings.VEDA_text_1 }}
                  </span>
                  {% if section.settings.VEDA_switch_2 and 'left' == 'right' %}
                    <span
                      {% if _icon_class %}
                        class="ml:10px {{ _icon_class }}"
                      {% else %}
                        class="ml:10px"
                      {% endif %}
                      data-css="{{ null }}"
                    >
                      {{ section.settings.VEDA_icon_2 }}
                    </span>
                  {% endif %}
                </button>
                {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
                {% comment %}<BẮT_ĐẦU_TÁCH_FILE_13:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class,default_class,default_for_bottom_class,variant_class]>{% endcomment %}
                {% liquid
                  if section.settings.cancel_button___variant == 'link'
                    assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 bd:0 bxsh:none p:0 bg:none cur:pointer trs:0.3s '
                  else
                    assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s p:13px_20px bd:none bxsh:none o:none cur:pointer '
                  endif

                  assign default_for_bottom_class = ''

                  case section.settings.cancel_button___variant
                    when 'primary'
                      assign variant_class = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
                    when 'secondary'
                      assign variant_class = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
                    when 'dark'
                      assign variant_class = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
                    when 'gray'
                      assign variant_class = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
                    when 'light'
                      assign variant_class = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
                    else
                      assign variant_class = ' c:color-gray9 c:color-primary|h'
                  endcase
                %}

                <button
                  type="{{ 'reset' }}"
                  component="{{ 'cancel_button' }}"
                  {% if 'btn-add-address-js mt:20px' %}
                    class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }} {{ 'btn-add-address-js mt:20px' }}"
                  {% else %}
                    class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }}"
                  {% endif %}
                  {% if _data_confirm_message %}
                    data-confirm-message="{{ _data_confirm_message }}"
                  {% endif %}
                  {% if _data_target %}
                    data-target="{{ _data_target }}"
                  {% endif %}
                  {% if _aria_label %}
                    aria-label="{{ _aria_label }}"
                  {% endif %}
                  {% if _data_index %}
                    data-index="{{ _data_index }}"
                  {% endif %}
                  {% if _data_form_active %}
                    data-form-active="{{ _data_form_active }}"
                  {% endif %}
                  {% if _form %}
                    form="{{ _form }}"
                  {% endif %}
                  {% if _name %}
                    name="{{ _name }}"
                  {% endif %}
                  {% if _id %}
                    id="{{ _id }}"
                  {% endif %}
                  {% if _tooltip_position %}
                    data-tooltip-position="{{ _tooltip_position }}"
                  {% endif %}
                  {% if _tooltip_text %}
                    data-tooltip-text="{{ _tooltip_text }}"
                  {% endif %}
                  {% if _data_button_video_id %}
                    data-button-video-id="{{ _data_button_video_id }}"
                  {% endif %}
                  data-css="{{ null }}"
                >
                  {% if section.settings.VEDA_switch_1 and 'left' == 'left' %}
                    <span
                      class="mr:10px"
                      data-css="{{ null }}"
                    >
                      {{ section.settings.VEDA_icon_1 }}
                    </span>
                  {% endif %}
                  <span>
                    {{ section.settings.cancel_button___text }}
                  </span>
                  {% if section.settings.VEDA_switch_1 and 'left' == 'right' %}
                    <span
                      {% if _icon_class %}
                        class="ml:10px {{ _icon_class }}"
                      {% else %}
                        class="ml:10px"
                      {% endif %}
                      data-css="{{ null }}"
                    >
                      {{ section.settings.VEDA_icon_1 }}
                    </span>
                  {% endif %}
                </button>
                {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
              </div>
            </div>
          {% endform %}
        {% endcapture %}
        {{ AddressInformation }}
        <div class="d:flex mt:20px jc:center fxw:wrap">
          {% assign label = 'veda.customer.addresses.edit_address' | t %}
          {% comment %}<BẮT_ĐẦU_TÁCH_FILE_14:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class,default_class,default_for_bottom_class,variant_class,label]>{% endcomment %}
          {% liquid
            if section.settings.update_button___variant == 'link'
              assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 bd:0 bxsh:none p:0 bg:none cur:pointer trs:0.3s '
            else
              assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s p:13px_20px bd:none bxsh:none o:none cur:pointer '
            endif

            assign default_for_bottom_class = ''

            case section.settings.update_button___variant
              when 'primary'
                assign variant_class = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
              when 'secondary'
                assign variant_class = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
              when 'dark'
                assign variant_class = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
              when 'gray'
                assign variant_class = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
              when 'light'
                assign variant_class = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
              else
                assign variant_class = ' c:color-gray9 c:color-primary|h'
            endcase
          %}

          <button
            type="{{ 'button' }}"
            component="{{ 'update_button' }}"
            {% if 'btn-edit-address-js mr:15px' %}
              class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }} {{ 'btn-edit-address-js mr:15px' }}"
            {% else %}
              class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }}"
            {% endif %}
            {% if _data_confirm_message %}
              data-confirm-message="{{ _data_confirm_message }}"
            {% endif %}
            {% if _data_target %}
              data-target="{{ _data_target }}"
            {% endif %}
            {% if label %}
              aria-label="{{ label }}"
            {% endif %}
            {% if forloop.index %}
              data-index="{{ forloop.index }}"
            {% endif %}
            {% if _data_form_active %}
              data-form-active="{{ _data_form_active }}"
            {% endif %}
            {% if _form %}
              form="{{ _form }}"
            {% endif %}
            {% if _name %}
              name="{{ _name }}"
            {% endif %}
            {% if _id %}
              id="{{ _id }}"
            {% endif %}
            {% if _tooltip_position %}
              data-tooltip-position="{{ _tooltip_position }}"
            {% endif %}
            {% if _tooltip_text %}
              data-tooltip-text="{{ _tooltip_text }}"
            {% endif %}
            {% if _data_button_video_id %}
              data-button-video-id="{{ _data_button_video_id }}"
            {% endif %}
            data-css="{{ null }}"
          >
            {% if section.settings.VEDA_switch_5 and 'left' == 'left' %}
              <span
                class="mr:10px"
                data-css="{{ null }}"
              >
                {{ section.settings.VEDA_icon_5 }}
              </span>
            {% endif %}
            <span>
              {{ section.settings.update_button___text }}
            </span>
            {% if section.settings.VEDA_switch_5 and 'left' == 'right' %}
              <span
                {% if _icon_class %}
                  class="ml:10px {{ _icon_class }}"
                {% else %}
                  class="ml:10px"
                {% endif %}
                data-css="{{ null }}"
              >
                {{ section.settings.VEDA_icon_5 }}
              </span>
            {% endif %}
          </button>
          {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
          <form
            class="address-delete-form"
            method="post"
            action="/account/addresses/{{ address.id }}"
          >
            <input type="hidden" name="_method" value="delete">
            {% assign label = 'veda.customer.addresses.delete' | t | append: forloop.index %}
            {% assign message = 'veda.customer.addresses.delete_confirm' | t %}
            {% comment %}<BẮT_ĐẦU_TÁCH_FILE_15:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class,default_class,default_for_bottom_class,variant_class,label,message]>{% endcomment %}
            {% liquid
              if section.settings.delete_button___variant == 'link'
                assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 bd:0 bxsh:none p:0 bg:none cur:pointer trs:0.3s '
              else
                assign default_class = 'rs lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s p:13px_20px bd:none bxsh:none o:none cur:pointer '
              endif

              assign default_for_bottom_class = ''

              case section.settings.delete_button___variant
                when 'primary'
                  assign variant_class = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
                when 'secondary'
                  assign variant_class = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
                when 'dark'
                  assign variant_class = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
                when 'gray'
                  assign variant_class = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
                when 'light'
                  assign variant_class = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
                else
                  assign variant_class = ' c:color-gray9 c:color-primary|h'
              endcase
            %}

            <button
              type="{{ 'reset' }}"
              component="{{ 'delete_button' }}"
              {% if 'btn-del-address-js' %}
                class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }} {{ 'btn-del-address-js' }}"
              {% else %}
                class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }}"
              {% endif %}
              {% if message %}
                data-confirm-message="{{ message }}"
              {% endif %}
              {% if 'address.url' %}
                data-target="{{ 'address.url' }}"
              {% endif %}
              {% if label %}
                aria-label="{{ label }}"
              {% endif %}
              {% if _data_index %}
                data-index="{{ _data_index }}"
              {% endif %}
              {% if _data_form_active %}
                data-form-active="{{ _data_form_active }}"
              {% endif %}
              {% if _form %}
                form="{{ _form }}"
              {% endif %}
              {% if _name %}
                name="{{ _name }}"
              {% endif %}
              {% if _id %}
                id="{{ _id }}"
              {% endif %}
              {% if _tooltip_position %}
                data-tooltip-position="{{ _tooltip_position }}"
              {% endif %}
              {% if _tooltip_text %}
                data-tooltip-text="{{ _tooltip_text }}"
              {% endif %}
              {% if _data_button_video_id %}
                data-button-video-id="{{ _data_button_video_id }}"
              {% endif %}
              data-css="{{ null }}"
            >
              {% if section.settings.VEDA_switch_4 and 'left' == 'left' %}
                <span
                  class="mr:10px"
                  data-css="{{ null }}"
                >
                  {{ section.settings.VEDA_icon_4 }}
                </span>
              {% endif %}
              <span>
                {{ section.settings.delete_button___text }}
              </span>
              {% if section.settings.VEDA_switch_4 and 'left' == 'right' %}
                <span
                  {% if _icon_class %}
                    class="ml:10px {{ _icon_class }}"
                  {% else %}
                    class="ml:10px"
                  {% endif %}
                  data-css="{{ null }}"
                >
                  {{ section.settings.VEDA_icon_4 }}
                </span>
              {% endif %}
            </button>
            {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
          </form>
        </div>
        <div class="form-update-address-js mt:20px w:100% w:40%@md d:none" data-index="{{ forloop.index }}">
          {{ FormUpdateAddress }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endcapture %}

<section
  data-id="{{ uniqueId }}"
  class="veda-lazyload pos:relative z:1 bgz:cover bgp:center"
  style="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}"
>
  <div
    class="{{ containerType }}"
    {% if section.settings.VEDA_slider_4
      or section.settings.VEDA_slider_4 == 0
      or section.settings.section_settings___width
      or section.settings.section_settings___width == 0
    %}
      style="{{ containerGap }}{{ containerWidth }}"
    {% endif %}
  >
    <div class="row mt:0!">
      {% comment %}<BẮT_ĐẦU_TÁCH_FILE_16:[section,backgroundFixed,backgroundColor,bgImage,backgroundImage,sectionPadding,containerType,containerGap,containerWidth,settingGap,settingGapVertical,colGap,rowGap,sectionSeparator,_label_class,_class,_placeholder,_autocorrect,_autocapitalize,_data_confirm_message,_data_target,_aria_label,_data_index,_data_form_active,_form,_name,_id,_tooltip_position,_tooltip_text,_data_button_video_id,_icon_class,default_class,default_for_bottom_class,variant_class,label,message]>{% endcomment %}
      <div class="d:flex fld:column w:100%">
        {% comment %}CẢNH BÁO: Các field settings đã bị cắt vợi đi để pass qua shopify theme check => Các item sẽ trở thành y hệt nhau về một số thứ => Check code để fix css sao cho giống với theme demo => Ví dụ mỗi item đều có field color picker để setup background. Item 1 màu xanh, Item 2 màu đỏ => Sync ở chế độ cắt vợi đi thì cả 2 Item sẽ thành màu xanh => Sai với theme demo => Cần fix{% endcomment %}

        {% for block in section.blocks %}
          {% assign heading_item = block.settings %}

          {% if heading_item.heading___enable %}
            {% liquid
              assign align = 'center'

              if 'center' == 'left'
                assign align = 'start'
              elsif 'center' == 'right'
                assign align = 'end'
              endif
            %}
            {% capture attr %}
              data-css="{{ null }}" class="fw:500" style="text-align: {{ align }}"
            {% endcapture %}
            {% case block.type %}
              {% when 'heading_title' %}
                {% if heading_item.heading___title_tag_name == 'h2' %}
                  <h2 {{ attr }}>{{ heading_item.heading___title }}</h2>
                {% elsif heading_item.heading___title_tag_name == 'h3' %}
                  <h3 {{ attr }}>{{ heading_item.heading___title }}</h3>
                {% elsif heading_item.heading___title_tag_name == 'h4' %}
                  <h4 {{ attr }}>{{ heading_item.heading___title }}</h4>
                {% elsif heading_item.heading___title_tag_name == 'h5' %}
                  <h5 {{ attr }}>{{ heading_item.heading___title }}</h5>
                {% elsif heading_item.heading___title_tag_name == 'h6' %}
                  <h6 {{ attr }}>{{ heading_item.heading___title }}</h6>
                {% endif %}
              {% when 'heading_text' %}
                <div
                  data-css="{{ null }}"
                  style="text-align: {{ align }}"
                  class="fz:16px"
                >
                  {{ heading_item.heading___text }}
                </div>
              {% when 'heading_icon' %}
                <div
                  data-css="{{ null }}"
                  {% if 'center' == 'left' %}
                    style="text-align: start"
                  {% elsif 'center' == 'center' %}
                    style="text-align: {{ "center" }}; margin-left: auto; margin-right: auto"
                  {% elsif 'center' == 'right' %}
                    style="text-align: end; margin-left: auto; margin-right: 0"
                  {% endif %}
                  class="fz:34px"
                >
                  {{ heading_item.heading___icon }}
                </div>
              {% when 'heading_space' %}
                <div style="height: {{ heading_item.heading___space }}px"></div>
              {% when 'heading_link' %}
                <a
                  href="{{ heading_item.heading___link }}"
                  class="ff:font-secondary fz:16px fw:500 c:color-gray9 c:color-gray9|h! td:underline"
                  data-css="{{ null }}"
                  style="text-align: {{ align }}"
                >
                  {{ heading_item.heading___text_link }}
                </a>
              {% when 'heading_divider' %}
                {% assign headingDividerPadding = 'padding-top: '
                  | append: null
                  | append: 'px;padding-right: '
                  | append: null
                  | append: 'px;padding-bottom: '
                  | append: null
                  | append: 'px;padding-left: '
                  | append: null
                  | append: 'px;'
                %}
                <div
                  class="pt:20px fz:0"
                  style="text-align: {{ align }};{{ headingDividerPadding }}"
                >
                  {% if heading_item.heading___divider == 'wave' %}
                    <div class="d:inline-block">
                      <svg
                        width="56px"
                        height="7px"
                        viewBox="0 0 56 7"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        fill="none"
                      >
                        <g transform="translate(-288.000000, -4390.000000)" class="stk:color-gray3" style="stroke: {{ null }}">
                            <g transform="translate(135.000000, 4033.000000)">
                                <g transform="translate(0.000000, 48.000000)">
                                    <g transform="translate(153.000000, 310.000000)">
                                        <path d="M0,0 C4.64733427,0 4.65894638,2 9.33333333,2 C14.0077203,2 13.9400367,0 18.6666667,0 C23.3932966,0 23.3301172,2 28,2 C32.6698828,2 32.6447946,0 37.3333333,0 C42.0218721,0 41.9540981,2 46.6666667,2 C51.3792353,2 51.3554302,0 56,0"></path>
                                        <path d="M0,3 C4.64733427,3 4.65894638,5 9.33333333,5 C14.0077203,5 13.9400367,3 18.6666667,3 C23.3932966,3 23.3301172,5 28,5 C32.6698828,5 32.6447946,3 37.3333333,3 C42.0218721,3 41.9540981,5 46.6666667,5 C51.3792353,5 51.3554302,3 56,3"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                      </svg>
                    </div>
                  {% elsif heading_item.heading___divider == 'mountain' %}
                    <div class="d:inline-block">
                      <svg
                        width="60px"
                        height="9px"
                        viewBox="0 0 60 9"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-3.000000, -47.000000)" stroke-width="2" class="stk:color-gray3" style="stroke: {{ null }}">
                                <g transform="translate(0.000000, 45.000000)">
                                    <polyline points="4 9 9.8 4 15.6 9 21.4 4 27.2 9 33 4 38.8 9 44.6 4 50.4 9 56.2 4 62 9"></polyline>
                                </g>
                            </g>
                        </g>
                      </svg>
                    </div>
                  {% else %}
                    <div
                      class="d:inline-block! w:50px h:2px bgc:color-gray3"
                      style="background-color: {{ null }}"
                    ></div>
                  {% endif %}
                </div>
              {% else %}

            {% endcase %}
          {% endif %}
        {% endfor %}
      </div>
      {% comment %}<KẾT_THÚC_TÁCH_FILE>{% endcomment %}
      {{ Addresses }}
    </div>
  </div>
  {% if 'none' == 'video' and null %}
    <div data-veda-video="{{ null }}"></div>
  {% endif %}
  {% if null %}
    <div
      class="pos:absolute ins:0 z:-1"
      style="background-color: {{ null }};backdrop-filter: blur({{ null }}px)"
    ></div>
  {% endif %}
</section>
{% schema %}
{
  "name": "Addresses 1",
  "blocks": [
    {
      "type": "heading_title",
      "name": "Heading > Title",
      "settings": [
        {
          "label": "Heading > Tag Name",
          "id": "heading___title_tag_name",
          "type": "select",
          "default": "h2",
          "options": [
            {
              "label": "H2",
              "value": "h2"
            },
            {
              "label": "H3",
              "value": "h3"
            },
            {
              "label": "H4",
              "value": "h4"
            },
            {
              "label": "H5",
              "value": "h5"
            },
            {
              "label": "H6",
              "value": "h6"
            }
          ]
        },
        {
          "label": "Heading > Title",
          "id": "heading___title",
          "type": "liquid",
          "default": "This is a title"
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_text",
      "name": "Heading > Text",
      "settings": [
        {
          "label": "Heading > Text",
          "id": "heading___text",
          "type": "liquid",
          "default": "<p>This is a text</p>"
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_link",
      "name": "Heading > Link",
      "settings": [
        {
          "label": "Heading > Link",
          "id": "heading___link",
          "type": "text"
        },
        {
          "label": "Heading > Text",
          "id": "heading___text_link",
          "type": "liquid",
          "default": "Text"
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_divider",
      "name": "Heading > Divider",
      "settings": [
        {
          "label": "Heading > Divider",
          "id": "heading___divider",
          "type": "select",
          "default": "line",
          "options": [
            {
              "label": "Line",
              "value": "line"
            },
            {
              "label": "Wave",
              "value": "wave"
            },
            {
              "label": "Mountain",
              "value": "mountain"
            }
          ]
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_icon",
      "name": "Heading > Icon",
      "settings": [
        {
          "label": "Heading > Icon",
          "info": "[Get icon](https://fontawesome.com/v5/search)",
          "id": "heading___icon",
          "type": "html",
          "default": "<i class=\"far fa-atom\"></i>"
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_space",
      "name": "Heading > Space",
      "settings": [
        {
          "label": "Heading > Space",
          "id": "heading___space",
          "type": "number",
          "default": 20
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    }
  ],
  "settings": [
    {
      "label": "Cancel Button > Choose",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "VEDA_icon_1",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "Cancel Button > Enable",
      "id": "VEDA_switch_1",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Cancel Button > Variant",
      "id": "cancel_button___variant",
      "type": "select",
      "default": "primary",
      "options": [
        {
          "label": "Primary",
          "value": "primary"
        },
        {
          "label": "Secondary",
          "value": "secondary"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Gray",
          "value": "gray"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ]
    },
    {
      "label": "Cancel Button > Text",
      "id": "cancel_button___text",
      "type": "liquid",
      "default": "Add Address"
    },
    {
      "label": "Submit Update Button > Choose",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "VEDA_icon_2",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "Submit Update Button > Enable",
      "id": "VEDA_switch_2",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Submit Update Button > Variant",
      "id": "VEDA_select_1",
      "type": "select",
      "default": "primary",
      "options": [
        {
          "label": "Primary",
          "value": "primary"
        },
        {
          "label": "Secondary",
          "value": "secondary"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Gray",
          "value": "gray"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ]
    },
    {
      "label": "Submit Update Button > Text",
      "id": "VEDA_text_1",
      "type": "liquid",
      "default": "Add Address"
    },
    {
      "label": "Submit Add Button > Choose",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "VEDA_icon_3",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "Submit Add Button > Enable",
      "id": "VEDA_switch_3",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Submit Add Button > Variant",
      "id": "VEDA_select_2",
      "type": "select",
      "default": "primary",
      "options": [
        {
          "label": "Primary",
          "value": "primary"
        },
        {
          "label": "Secondary",
          "value": "secondary"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Gray",
          "value": "gray"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ]
    },
    {
      "label": "Submit Add Button > Text",
      "id": "submit_add_button___text",
      "type": "liquid",
      "default": "Add Address"
    },
    {
      "label": "Delete Button > Choose",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "VEDA_icon_4",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "Delete Button > Enable",
      "id": "VEDA_switch_4",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Delete Button > Variant",
      "id": "delete_button___variant",
      "type": "select",
      "default": "primary",
      "options": [
        {
          "label": "Primary",
          "value": "primary"
        },
        {
          "label": "Secondary",
          "value": "secondary"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Gray",
          "value": "gray"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ]
    },
    {
      "label": "Delete Button > Text",
      "id": "delete_button___text",
      "type": "liquid",
      "default": "Sign In"
    },
    {
      "label": "Edit Button > Choose",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "VEDA_icon_5",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "Edit Button > Enable",
      "id": "VEDA_switch_5",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Edit Button > Variant",
      "id": "update_button___variant",
      "type": "select",
      "default": "primary",
      "options": [
        {
          "label": "Primary",
          "value": "primary"
        },
        {
          "label": "Secondary",
          "value": "secondary"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Gray",
          "value": "gray"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ]
    },
    {
      "label": "Edit Button > Text",
      "id": "update_button___text",
      "type": "liquid",
      "default": "Sign In"
    },
    {
      "label": "Add Button > Choose",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "add_button___choose_icon",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "label": "Add Button > Enable",
      "id": "add_button___icon_enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Add Button > Variant",
      "id": "add_button___variant",
      "type": "select",
      "default": "primary",
      "options": [
        {
          "label": "Primary",
          "value": "primary"
        },
        {
          "label": "Secondary",
          "value": "secondary"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Gray",
          "value": "gray"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ]
    },
    {
      "label": "Add Button > Text",
      "id": "add_button___text",
      "type": "liquid",
      "default": "Add Address"
    },
    {
      "label": "Form > Set Default",
      "id": "VEDA_text_2",
      "type": "liquid",
      "default": "Set Default"
    },
    {
      "label": "Form > Phone",
      "id": "form_address___phone",
      "type": "liquid",
      "default": "Phone"
    },
    {
      "label": "Form > Zip",
      "id": "form_address___zip",
      "type": "liquid",
      "default": "Zip"
    },
    {
      "label": "Form > Country",
      "id": "form_address___country",
      "type": "liquid",
      "default": "Country"
    },
    {
      "label": "Form > City",
      "id": "form_address___city",
      "type": "liquid",
      "default": "City"
    },
    {
      "label": "Form > Address 2",
      "id": "form_address___address_2",
      "type": "liquid",
      "default": "Address 2"
    },
    {
      "label": "Form > Address 1",
      "id": "form_address___address_1",
      "type": "liquid",
      "default": "Address 1"
    },
    {
      "label": "Form > Company",
      "id": "form_address___company",
      "type": "liquid",
      "default": "Company"
    },
    {
      "label": "Form > Last Name",
      "id": "form_address___last_name",
      "type": "liquid",
      "default": "Last Name"
    },
    {
      "label": "Form > First Name",
      "id": "VEDA_text_3",
      "type": "liquid",
      "default": "First Name"
    },
    {
      "label": "Form > Default",
      "id": "form_address___default",
      "type": "liquid",
      "default": "Default"
    },
    {
      "label": "Form > Title Update",
      "id": "VEDA_text_4",
      "type": "liquid",
      "default": "Title Update"
    },
    {
      "label": "Form > Title Add",
      "id": "form_address___title_add",
      "type": "liquid",
      "default": "Title Add"
    },
    {
      "label": "Section Settings > Separator Bottom",
      "id": "VEDA_slider_1",
      "type": "number"
    },
    {
      "label": "Section Settings > Separator Top",
      "id": "VEDA_slider_2",
      "type": "number"
    },
    {
      "label": "Section Settings > Enable Separator",
      "id": "VEDA_switch_6",
      "type": "checkbox",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "VEDA_image_1",
      "label": "Background Image"
    },
    {
      "label": "Section Settings > Column Gap",
      "id": "VEDA_slider_3",
      "type": "number"
    },
    {
      "label": "Section Settings > Container Gap",
      "id": "VEDA_slider_4",
      "type": "number"
    },
    {
      "label": "Section Settings > Width",
      "id": "section_settings___width",
      "type": "number"
    },
    {
      "label": "Section Settings > Container Width",
      "id": "VEDA_select_3",
      "type": "select",
      "default": "boxed",
      "options": [
        {
          "label": "Boxed",
          "value": "boxed"
        },
        {
          "label": "Full Width",
          "value": "full_width"
        },
        {
          "label": "Manual",
          "value": "manual"
        }
      ]
    }
  ],
  "tag": "div",
  "presets": [
    {
      "name": "Addresses 1",
      "blocks": [
        {
          "type": "heading_title"
        },
        {
          "type": "heading_link"
        },
        {
          "type": "heading_divider"
        },
        {
          "type": "heading_space"
        }
      ]
    }
  ]
}
{% endschema %}
